body {
	background:#fff;
}
/*.main-menu-wrapper{
	position: absolute;
	z-index: 1000;
}*/

.hide{
	display: none !important;
}

.btn-a{
	color: #1e395b;
	display: inline-block;
	padding: 5px 0 5px 5px;
	text-decoration: none;
}
.btn-a:hover{
	text-decoration: underline;	
}
.btn-flat,
.btn-flat-half{
	display: block;
	background: #fff;
	padding: 5px 0 5px 20px;
	text-decoration: none;
	background:#eee;
	background:-moz-linear-gradient(top,#eee 0,#fff 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(100%,#fff));
	background:-webkit-linear-gradient(top,#eee 0,#fff 100%);
	background:-o-linear-gradient(top,#eee 0,#fff 100%);
	background:-ms-linear-gradient(top,#eee 0,#fff 100%);
	background:linear-gradient(to bottom,#eee 0,#fff 100%)
}

.btn-flat:hover,
.btn-flat-half:hover{
	text-decoration: none;
	background:#beebff;
	background:-moz-linear-gradient(top,#beebff 0,#a8e4ff 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#beebff),color-stop(100%,#a8e4ff));
	background:-webkit-linear-gradient(top,#beebff 0,#a8e4ff 100%);
	background:-o-linear-gradient(top,#beebff 0,#a8e4ff 100%);
	background:-ms-linear-gradient(top,#beebff 0,#a8e4ff 100%);
	background:linear-gradient(to bottom,#beebff 0,#a8e4ff 100%)
}

.btn-flat-half {
	float: left;
	width: 45%;
}
/*
	Override
*/
/*#docarea{
	position: absolute;
	top: 28px;
	bottom: 0;
	left: 0;
	right: 0;
}*/

#docarea .jstree-default .jstree-hovered, 
#docarea .jstree-default .jstree-clicked{
	padding: 1px 2px;
}

#docarea .jstree-default .jstree-linked{
	background: #FAE6FA;
}


/*
	Layouts
*/
#packages{
	height: 99%;
}

#indexes{
	height: 99%;
}
#links{
	/*height: 65%;*/
	height: 99%;
}
#links-checkbox{
	height: 35%;
}
#links-checkbox-tree{
	max-height: 435px;
}
#header-cols {
	height: 50%;
}
#header-rows {
	height: 49%;
}
#units-tree {
	background: #eee;
}
/*
	Data Dialog
*/
#dialog-add-data {
	padding: 0;
}

#dialog-add-data .ui-tabs .ui-tabs-nav li.ui-tabs-active{
	margin-bottom: 1px;
	padding-bottom: 0;
}
/*
	Filters Dialog
*/
#dialog-links-filter {
	padding: .5em 0 0 0;
}
/*
	Theme Dialog
*/
#dialog-edit-theme {
	padding: .5em 0 0 0;
}
/*
	Main layout
*/
.main-layout{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
/*
	Layout override
*/
.main-layout .ui-layout-west,
.main-layout .ui-layout-east,
.main-layout .ui-layout-center,
.main-layout .ui-layout-north{
	padding: 0;
	overflow-y: hidden;
}
.main-layout .ui-layout-resizer{
	background: #f3f3f3;
}
.main-layout .ui-layout-toggler-west,
.main-layout .ui-layout-toggler-east{
	height: 150px !important;
	top: 0 !important;
	background: #ddd;
	border: 0;
}
/*
	jsTree override
*/
.main-layout .jstree a{
	height: auto;
	width: 90%;
}
.main-layout .jstree a .title::before{
	content: ':: ';
}
.main-layout .jstree a .title::after{
	content: ' ';
	display: block;
}
.main-layout .jstree ins{
	vertical-align: top;
}
/*
	Accordion override
*/
.main-layout .ui-accordion .ui-accordion-content{
	margin: 0;
	padding: 5px;
	border: 0;
	background: none;
}
/*
	Dialog override
*/
.ui-dialog .ui-dialog-titlebar-close span{
	margin: -8px 0 0 -8px !important;
}

.main-layout .ui-dialog .ui-dialog-title{
	font-weight: bold;
	font-size: 13px;
}
/*
	Tree wrapper
*/
.main-layout .tree-wrapper,
.dialog .tree-wrapper{
	border: 0;
	overflow: hidden;
}
.main-layout .tree-wrapper{
	height: 95%;
}
.dialog .tree-wrapper{
	height: 90%;	
}
.dialog .tree-wrapper,
.dialog-tree-wrapper{
	position: relative;
	float: left;
	width: 50%;
	min-height: 100px;
}
.dialog .tree-wrapper{
	padding-left: 0;
	padding-right: 0;
	/*max-height: 500px;*/
	height: 495px;
}
.dialog-tree-wrapper{
	max-height: 460px;
}
.main-layout .tree-wrapper .tree,
.dialog .tree-wrapper .tree{
	padding: 0;
	height: 90%;
	overflow: auto;
	overflow-x: hidden;
}
.dialog-units-wrapper{
	position: relative;
	float: left;
	margin-top: .5em;
	width: 100%;
	overflow-x: hidden; 
	overflow-y: auto;
}
.dialog-units-wrapper:before{
	content: '';
	clear: both;
}
.dialog-tree-wrapper .dialog-tree-tools{
	margin: 5px;
}
.dialog-units-wrapper .dialog-tree-tools{
	padding: 5px;
	background: #eee;
}
.dialog-tree-wrapper .dialog-tree-tools label, 
.dialog-units-wrapper .dialog-tree-tools label{
	display: block;
	font-weight: bold;
	margin: .5em 0;
}
.dialog-tree-wrapper .dialog-tree,
.dialog .tree-wrapper .dialog-tree{
	padding: 0;
	min-height: 80px;
	max-height: 420px;
	overflow: auto;
}
.dialog .tree-wrapper .dialog-tree{
	max-height: 460px;
}
/*
	State wrapper
*/
.main-layout .state-wrapper{
	height: 30px;
}
.main-layout .state-wrapper .header{
	display: inline-block;
	color: #777;
	font-size: 16px;
	margin: 8px;
}
.main-layout .state-wrapper .button-group{
	display: inline-block;
	margin: 0 3px 0 10px;
}
.main-layout .state-wrapper button,
.main-layout .state-wrapper .button-group button{
	color: #444;
	height: 28px;
}
.main-layout .state-wrapper button{
	margin: 5px 0 0 5px;
}
.main-layout .state-wrapper input,
.main-layout .state-wrapper .button-group input,
.main-layout .state-wrapper select,
.main-layout .state-wrapper .button-group select{
	font-size: 14px;
	height: 24px;
}
.main-layout .state-wrapper input,
.main-layout .state-wrapper .button-group input{
	padding-left: 5px;
}
.main-layout .state-wrapper .button-group button,
.main-layout .state-wrapper .button-group input,
.main-layout .state-wrapper .button-group select{
	margin: 5px 0 0 -5px;
}
/*
	Controls wrapper
*/
.main-layout .controls-wrapper{
	
}
.main-layout .controls-wrapper label{
	display: inline-block;
	font-size: 16px;
	margin-left: 5px;
	width: 90px;
	height: 24px;
}
.main-layout .controls-wrapper .button-group{
	display: block;
	margin: 0 0 5px 0;
}
.main-layout .controls-wrapper button,
.main-layout .controls-wrapper .button-group button{
	color: #444;
	height: 30px;
}
.main-layout .controls-wrapper .button-group button{
	width: 125px;
	margin: 0 0 5px 0;
	text-align: left;
}
.main-layout .controls-wrapper .toggle-button,
.main-layout .controls-wrapper .button-group .toggle-button{
	margin-left: -7px;
}
.main-layout .controls-wrapper .toggle-in,
.main-layout .controls-wrapper .button-group .toggle-in{
	border: inset 2px;
}
.main-layout .controls-wrapper input,
.main-layout .controls-wrapper select{
}
.main-layout .controls-wrapper input{
	font-size: 14px;
	height: 24px;
	padding-left: 5px;
	width: 175px;
}
.main-layout .controls-wrapper select{
	font-size: 13px;
	height: 30px;
	padding-left: 5px;
	width: 184px;
}
.main-layout .controls-wrapper .ui-buttonset label{
	font-size: 14px;
	margin: 0px -5px 0 0;
	height: 30px;
	width: 140px;
}
.main-layout .controls-wrapper .ui-buttonset input{

}
/*
	Custom Combobox
*/
.custom-combobox{

}
.custom-combobox .custom-combobox-input,
.main-layout .controls-wrapper input.custom-combobox-input{
	width: 245px;
}
.custom-combobox .custom-combobox-toggle{
	height: 26px;
	margin-top: -3px;
	margin-left: -1px;
	width: 30px;
}
.ui-autocomplete .ui-menu .ui-menu-item{
	font-size: 14px;
}
/*
	Tools wrapper
*/
.main-layout .tools-wrapper{
	background: #fff;
	height: 100%;
	padding: 0;
}
.main-layout .tools-wrapper.left{
	border-right: 1px solid #a8a8a8;
	float: left;
}
.main-layout .tools-wrapper.right{
	border-left: 1px solid #a8a8a8;
	border-right: 0;
	float: right;
}
.main-layout .tools-wrapper .tools{
	list-style: none;
	margin: 34px 0 0 0;
	min-height: 350px;
	padding: 3px 3px 0 3px;
}
.main-layout .tools-wrapper .tools li{
	padding: 3px 0;
	margin-bottom: 3px;
	border: 1px solid #a8a8a8;
	text-align: center;
}
.main-layout .tools-wrapper .tools li a{
	display: block;
	width: 22px;
	height: 16px;
}
/*

*/
.main-layout .ui-widget-header{
	border: 0;
    border-bottom: 1px solid #a8a8a8;
}

/*
	Tabs overrid
*/
.main-layout .ui-tabs{
	padding: 0 0 .2em 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, 
.ui-tabs .ui-tabs-nav li.ui-state-disabled a, 
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a:hover, 
.ui-tabs .ui-tabs-nav li.ui-state-disabled a:hover, 
.ui-tabs .ui-tabs-nav li.ui-state-processing a:hover {
	background: #e7f4f9;
}
.ui-tabs .filter-off .fa{
	color: inherit;
}
.ui-tabs .filter-on .fa{
	color: #000;
}
/*
	Spreadsheet wrapper
*/
.main-layout .spreadsheet-wrapper{
	padding: 1px 0 0 0;
}
.main-layout #spreadsheet{
	/*margin-top: 5px;*/
}
/*
	Objects
*/

.links-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.links-list li{
	padding-left: 5px;
	margin: 5px;
	border: 1px dotted #ccc;
}

.links-list li:hover{
	cursor: pointer;
}

.links-list li .element,
.link-list li .units{
	display: block;
}

.links-list li .element{
	
}

.link-list li .units{
	font-size: 12px;
	color: #888;
}

/*.jstree-default a { white-space:normal !important; height: auto; } */