<html>
<head>
    <title>{{'Подтверждение прошло успешно'|_}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/plugins/kosmo/billing/assets/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
	<div class="row">
		<div class="col-md-3 hidden-xs"></div>
		<div class="col-md-6 hidden-xs text-center" style="padding-top: 100px;padding-bottom:50px;">
			<img src="{{logo}}">
		</div>

		<div class="col-md-3 hidden-xs"></div>
	</div>
	<div class="row">
		<div class="col-md-3 hidden-xs"></div>
		<div class="col-md-6 hidden-xs">
			<div class="panel panel-default">
				<div class="panel-body">
				    <h1><strong>{{'Благодарим за покупку!'|_}}</strong></h1>
				    <h3>{{'В ближайшее время с Вами свяжется менежер для подтверждения заказа.'|_}}</h3>
				</div>
				<div class="panel-footer">
					<a class="btn" href="/"><i class="sp-sm sp-left sp-red"></i>{{'Вернуться на сайт'|_}}</a>&nbsp;&nbsp;
				</div>
			</div>
		</div>
		<div class="col-md-3 hidden-xs"></div>
	</div>

</body>
</html>
