<h3>{{'Номер заказа:'|_}} {{order.id}}</h3>
<div class="desc">{{'Спасибо за заказ! Осталось его только подтвердить.'|_}}</div>
<a href="{{gateway.url}}" class="btn btn-payment">{{'Подтвердить заказ'|_}}</a>
