<h3>{{'Номер заказа:'|_}} {{order.id}}</h3>
<div class="desc">{{'Оплата будет происходить через сервис epay.kkb.kz'|_}}</div>
<form name="SendOrder" style="text-align:center;" target="_blank" method="post" action="{{gateway.url}}">
    <input type="hidden" name="Signed_Order_B64" value="{{gateway.sign}}">
    <input type="hidden" name="Language" value="rus">
    <input type="hidden" name="FailureBackLink" value="{{gateway.urls.failure}}">
    <input type="hidden" name="BackLink" value="{{gateway.urls.success}}">
    <input type="hidden" name="PostLink" value="{{gateway.urls.postback}}">
    <input type="submit" name="GotoPay" class="btn btn-payment" value="{{'Перейти к оплате'|_}}">
</form>
