description = "Default layout"
==
<?php
use Kosmo\Market\Models\Settings;

public function onStart()
{
    $showBanner = Settings::get('show_banner');
    $this['showBanner'] = $showBanner;
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Food Delivery - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">
        <link href="{{[
            'assets/css/owl.carousel.min.css',
            'assets/css/animate.css',
            'assets/css/normalize.css',
            'assets/css/style.min.css'
        ]|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {% partial 'header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'footer' %}
        </footer>

        {% partial 'modal-corp' %}
        {% partial 'modal-corp-success' %}
        {% partial 'modal-feedback-success' %}
        {% partial 'modal-order-success' %}

        <!-- Scripts -->
        <script src="{{ [
            'assets/vendor/jquery.js',
            'assets/vendor/jquery.bpopup.min.js',
            'assets/vendor/jquery.maskedinput.min.js',
            'assets/vendor/jquery.autocomplete.min.js',
            'assets/vendor/owl.carousel.min.js',
            'assets/vendor/bootstrap.js',
            'assets/vendor/bootstrap.validator.min.js',
            'assets/javascript/index.js'
        ]|theme }}"></script>
        <div id="vk_api_transport"></div>
        {% framework extras %}
        {% scripts %}
    </body>
</html>
