<footer class="page-footer">
  <div class="page-footer__wrapper">
    <div class="page-footer__contacts">
      <p class="page-footer__phone">Phone number</p>
      <p class="page-footer__mail">Email</p>
      <p class="page-footer__address">Address</p>
    </div>
    <ul class="page-footer__nav">
      <li class="page-footer__nav-item"><a href="/">Главная</a></li>
      <li class="page-footer__nav-item"><a href="/corners">Наши корнеры</a></li>
      <li class="page-footer__nav-item"><a href="/#lunch-order">Корпоративные обеды</a></li>
      {% if homemadeCategory %}
      <li class="page-footer__nav-item"><a href="/homemade-products">Домашняя продукция </a></li>
      {% endif %}
      <li class="page-footer__nav-item"><a href="/#team">Наша команда</a></li>
      <li class="page-footer__nav-item"><a href="/#contacts">Связаться с нами</a></li>
    </ul>
    <p class="page-footer__copyright">©Food Delivery, 2017</p>
  </div>
</footer>
