<header class="page-header">
  <div class="page-header__wrapper">

    <div class="page-header__mamas-logo">
      <a href="/">
        <img src='{{ "assets/images/delivery-logo.svg"|theme }}'
             alt="Food Delivery logo" width="200" height="68">
      </a>
    </div>

    <nav class="main-nav  main-nav--closed">
      <button class="main-nav__toggle" type="button">Открыть меню</button>

      <div class="main-nav__top">
        <p class="main-nav__mobile">Phone number</p>
        <ul class="main-nav__socials  socials">
          <li class="socials__social-icon  socials__social-icon--fb"><a href="#">fb</a></li>
          <li class="socials__social-icon  socials__social-icon--insta"><a href="#">insta</a></li>
        </ul>
        <ul class="main-nav__langs">
          <li class="main-nav__lang  main-nav__lang--ru"><a href="#">рус</a></li>
          <li class="main-nav__lang">|</li>
          <li class="main-nav__lang  main-nav__lang--kz"><a href="#">қаз</a></li>
        </ul>
      </div>
      <ul class="main-nav__list">
        <li class="main-nav__item"><a href="/corners">Наши корнеры</a></li>
        <li class="main-nav__item"><a href="/#lunch-order">Корпоративные обеды</a></li>
        {% if homemadeCategory %}
        <li class="main-nav__item"><a href="/homemade-products">Домашняя продукция </a></li>
        {% endif %}
        <li class="main-nav__item"><a href="/#team">Наша команда</a></li>
        <li class="main-nav__item"><a href="/#contacts">Связаться с нами</a></li>
      </ul>
    </nav>
    {% if showBanner %}
    <div class="page-header__bon-appetit-logo">
      <a href="http://app.j.dnr.kz" target="_blank">
        <img src='{{ "assets/images/bon-appetit-logo.svg"|theme }}' width="146" height="79">
      </a>
    </div>
    {% endif %}
  </div>
</header>
