<div class="modal" id="corp-modal">
    <div class="modal__wrapper modal__wrapper--corporat" id="corporat-wrapper">
      <a href="javascript:;" class="close-btn close"></a>
      <h3 class="modal__title">Подать заявку</h3>

      <form class="modal__form" id="corporat-form" role="form" data-toggle="validator">

        <div class="form-group">
          <input class="modal__field-text  form-control" name="fullname" type="text"
              data-minlength="2"
              data-required-error="Необходимо указать контактные данные"
              data-minlength-error="В имени должно быть не меньше 2-х букв"
              data-error="Поле обязательно для заполнения"
              placeholder="Фамилия Имя" required><br>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <input class="modal__field-text  form-control" name="phone" type="tel" id="corporat-mob"
              data-required-error="Необходимо указать телефон"
              data-error="Поле обязательно для заполнения"
              placeholder="Мобильный телефон" required><br>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <input class="modal__field-text  form-control" name="email" type="email"
              data-required-error="Необходимо указать email"
              data-error="Проверьте правильность email-a"
              placeholder="Email" required><br>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <select class="modal__field-select form-control" name="service_id">
            <option class="modal__field-option  modal__field-option--disabled" disabled selected>Вид услуг</option>
            {% for service in services %}
                <option value="{{service.id}}">{{service.title}}</option>
            {% endfor %}
          </select><br>
        </div>

        <div class="form-group">
          <input class="modal__field-text  form-control" name="company" type="text"
              data-minlength="2"
              data-required-error="Необходимо указать контактные данные"
              data-minlength-error="В названии должно быть не меньше 2-х букв"
              data-error="Поле обязательно для заполнения"
              placeholder="Наименование компании" required><br>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <input class="modal__field-text  form-control" name="address" type="text"
              data-minlength="2"
              data-required-error="Необходимо указать контактные данные"
              data-minlength-error="В адресе должно быть не меньше 2-х букв"
              data-error="Поле обязательно для заполнения"
              placeholder="Улица, дом" required><br>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <input class="modal__field-text  form-control" name="office" type="text"
              data-required-error="Необходимо указать контактные данные"
              data-error="Поле обязательно для заполнения"
              placeholder="№ офиса" required><br>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <div class="modal__btn-container">
            <button class="modal__btn  btn" type="submit">Отправить</button>
          </div>
        </div>

      </form>

    </div>
</div>
