<div class="modal" id="feedback-success-modal">
    <div class="modal__wrapper">
      <a href="javascript:;" class="close-btn close"></a>
      <h3 class="modal__title  modal__title--msg-sent">
        Спасибо, Ваше сообщение отправлено
      </h3>
      <div class="modal__body">
        <p class="modal__feedback">
          Мы его обязательно прочитаем или примем к сведению!
        </p>

        <div class="modal__btn-container">
          <button class="modal__btn btn" onclick="location.reload()">Ок</button>
        </div>
      </div>

    </div>
</div>
