<div class="modal" id="corp-success-modal">
    <div class="modal__wrapper">
      <h3 class="modal__title  modal__title--corporat-sent">
        Ваша заявка принята
      </h3>
      <div class="modal__body">
        <p class="modal__feedback">
          Наши операторы свяжутся с вами в ближайшее время.
        </p>
        <p class="modal__feedback">
          Спасибо, что вы с нами! Приятного аппетита!
        </p>

        <div class="modal__btn-container">
          <button class="modal__btn btn" onclick="location.reload()">Ок</button>
        </div>
      </div>
    </div>
</div>
