<div class="order-block__wrapper">
  <div class="order-block__menu lunch-menu">
    <p class="lunch-menu__date">Меню на {{lunchMain.today.format('d.m')}}</p>
    <img class="lunch-menu__img" src="{{lunchMain.image.getThumb(250, 168, 'crop')}}">
    <ul class="lunch-menu__list">
        {% for item in lunchMain.items if item.isNotTypeSoup %}
        <li class="lunch-menu__item">{{item.title}}</li>
        {% endfor %}
        {% if lunchMain.soup %}
        <li class="lunch-menu__item  lunch-menu__item--optional">+ {{lunchMain.soup.title}}</li>
        {% else %}
        <li class="lunch-menu__item  lunch-menu__item--optional">Без вкусного супчика</li>
        {% endif %}
    </ul>
    <div class="lunch-menu__price-container">
      <span class="lunch-menu__price">{{lunchMain.price}} тенге</span>
      <span class="lunch-menu__price-note">Напиток, хлеб и приборы включены</span>
    </div>
    <div id="lunchMain" class="lunch-menu__counter-container pcw">
        <label class="lunch-menu__counter-label">Количество порций</label>
        <product-counter
            :id="{{lunchMain.id}}"
            :count="0"
            :price="{{lunchMain.price}}"
            :emit-count="true"
            :available="canChangeLunches"
            @add="addProduct"
            @remove="removeProduct">
        </product-counter>
    </div>
  </div>

  <div class="order-block__menu lunch-menu">
      <p class="lunch-menu__date">Меню на {{lunchPlus.today.format('d.m')}}</p>
      <img class="lunch-menu__img" src="{{lunchPlus.image.getThumb(250, 168, 'crop')}}">
    <ul class="lunch-menu__list">
        {% for item in lunchPlus.items if item.isNotTypeSoup %}
        <li class="lunch-menu__item">{{item.title}}</li>
        {% endfor %}
        {% if lunchPlus.soup %}
        <li class="lunch-menu__item  lunch-menu__item--optional">+ {{lunchPlus.soup.title}}</li>
        {% else %}
        <li class="lunch-menu__item  lunch-menu__item--optional">Без вкусного супчика</li>
        {% endif %}
    </ul>
    <div class="lunch-menu__price-container">
      <span class="lunch-menu__price">{{lunchPlus.price}} тенге</span>
      <span class="lunch-menu__price-note">Напиток, хлеб и приборы включены</span>
    </div>
    <div id="lunchPlus" class="lunch-menu__counter-container">
        <label class="lunch-menu__counter-label">Количество порций</label>
        <product-counter
            :id="{{lunchPlus.id}}"
            :count="0"
            :price="{{lunchPlus.price}}"
            :emit-count="true"
            :available="canChangeLunches"
            @add="addProduct"
            @remove="removeProduct">
        </product-counter>
    </div>
  </div>
</div>
