<div data-control="toolbar">
    <a
        href="<?= Backend::url('kozmo/sport/room/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Room
    </a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Rooms?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Delete selected
    </button>

    <div class="btn-group">
        <button
            class="btn btn-success oc-icon-circle-o"
            disabled="disabled"
            onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
            data-request="onOpen"
            data-request-confirm="Are you sure you want to close the selected Rooms?"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', 'disabled')"
            data-stripe-load-indicator>
            Open
        </button>

        <button
            class="btn btn-danger oc-icon-check-square-o"
            disabled="disabled"
            onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
            data-request="onClose"
            data-request-confirm="Are you sure you want to close the selected Rooms?"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', 'disabled')"
            data-stripe-load-indicator>
            Close selected
        </button>
    </div>

    <div class="btn-group">
        <button
            class="btn btn-success oc-icon-eye"
            disabled="disabled"
            onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
            data-request="onPublish"
            data-request-confirm="Are you sure you want to publish the selected Rooms?"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', 'disabled')"
            data-stripe-load-indicator>
            Publish
        </button>

        <button
            class="btn btn-danger oc-icon-eye-slash"
            disabled="disabled"
            onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
            data-request="onUnpublish"
            data-request-confirm="Are you sure you want to unpublish the selected Rooms?"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', 'disabled')"
            data-stripe-load-indicator>
            Unpublish selected
        </button>
    </div>

    <select id="week"
        class="form-control custom-select select-no-search"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')">
        <option value="1" selected="selected">1 Week Shift</option>
        <option value="2">2 Week Shift</option>
        <option value="3">3 Week Shift</option>
        <option value="0">No Shift</option>
    </select>

    <button
        class="btn btn-danger oc-icon-check-square-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked'),
            shift: $('#week').val()
        })"
        data-request="onDuplicate"
        data-request-confirm="Are you sure you want to duplicate the selected Rooms?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Duplicate selected
    </button>
</div>
