<div style="padding-left: 15px; padding-top: 5px; display: none;">
    <? $this->reorder() ?>
    <?= $this->reorderRender() ?>
</div>
<style>
    .control-treelist li > div.record {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-left: -1px;
        margin-right: 10px;
    }
</style>
