title="Подтверждение заказа"
layout="default"
url="/confirmation/:method/:orderId"

[paymentForm]
key="market"
method="{{ :method }}"
orderId="{{ :orderId }}"

==
==

<section class="order-block">
    <div class="order-block__wrapper">
        {% component 'paymentForm' %}
    </div>
</section>
