title = "Наши корнеры"
url = "/corners"
layout = "default"
==
<section class="corners">
  <div class="corners__top  top-block">
    <div class="top-block__img">
      <img src='{{ "assets/images/corners_hero_img.jpg"|theme }}'>
    </div>
    <div class="top-block__tag">
      <img class="top-block__logo"
           src='{{ "assets/images/mamas-logo-heroblock.svg"|theme }}'
           width="170" height="77">
      <h1 class="top-block__title">всегда рядом</h1>
      <p class="top-block__text">
        Однако заглянуть в гости к Food Delivery можно не только здесь ;)
      </p>
    </div>
  </div>
  <div class="corners__descr">
    <div class="corners__wrapper">
      <div class="corners__text">
        <p class="corners__paragraph">
          В городе вы легко найдете наши уютные корнеры, в которых также можно приобрести натуральные йогурты с нежной текстурой, воздушные блинчики, полезные салаты, горячие блюда, полезные роллы и сэндвичи, компоты, морсы и, конечно же, самые вкусные десерты!
        </p>
        <p class="corners__paragraph">
          Выберите сытный обед или легкий перекус и наслаждайтесь заботливым сочетанием отменного вкуса и пользы ингредиентов!
        </p>
      </div>
      <p class="corners__quote">
        Вы всегда можете дополнительно заказать перекус или десерт из наших корнеров к вашему обеду в офис.
      </p>
    </div>
  </div>

  <div class="corners__happy-hours">
    <p>40% скидка на меню после 18:00</p>
    <span class="corners__note">* Распространяется на все, кроме домашнего печенья и напитков</span>
  </div>

  <div class="corners__menu">

    <div class="corners__menu-descr">
      <p>
        Следите за обновлением меню. <br>Мы знаем, как важно разнообразие!
      </p>
      <div class="corners__btn-container">
        <a class="corners__btn btn" href="{{'docs/Mamas_Corners_Menu.pdf'|media}}" target="_blank">Ознакомиться с меню</a>
      </div>
    </div>
    <img class="corners__menu-pic" src='{{ "assets/images/corners_menu_img.jpg"|theme }}'>
  </div>

  <div class="corners__map" id="map">
  </div>
</section>

<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="{{ 'assets/javascript/map.js'|theme }}"></script>
