title = "Домашняя продукция"
url = "/homemade-products"
layout = "default"

[orderForm]
==
==
<section class="homemade">
  <div class="homemade__top  top-block">
    <div class="top-block__img  top-block__img--homemade">
      <img src='{{ "assets/images/homemade_hero_img.jpg"|theme }}'>
    </div>
    <div class="top-block__tag  top-block__tag--homemade">
      <h1 class="top-block__title  top-block__title--homemade">Так душевно может быть только у Food Delivery</h1>
      <p class="top-block__text  top-block__text--homemade">
        Что-то мы все о делах, да о делах!
        Представляем вам особую домашнюю продукцию Food Delivery для вас и вашей семьи. Каждый найдет здесь для себя именно то, что он любит: домашний хрустящий хлеб, ароматные соленья, варенье, сваренное с любовью, и многое-многое другое.
      </p>
    </div>
  </div>

  <div class="homemade__wrapper">
    {#<h2 class="homemade__title  title">
      Варенье
    </h2>#}
    <ul class="homemade__list">
      {% for product in homemadeProducts %}
      <li class="homemade__item">
        <h3 class="homemade__caption">
          {{product.title}}
        </h3>
        <div class="homemade__item-img">
          <img src="{{product.image.getThumb(320, 190, 'crop')}}">
        </div>
        <div class="homemade__price">
          {{product.price}} тенге/кг
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</section>
