title = "Накормит вкусно и по-домашнему"
url = "/"
layout = "default"

[leadForm]
[orderForm]
[feedbackForm]
==

<section class="hero-block">
  <div class="hero-block__wrapper">
    <div class="hero-block__slider  owl-carousel" id="slider">
      <div>
        <img class="hero-block__slider-img"
             src='{{ "assets/images/hero-image-01.jpg"|theme }}'>
      </div>
      <div>
        <img class="hero-block__slider-img"
             src='{{ "assets/images/hero-image-02.jpg"|theme }}'>
      </div>
      <div>
        <img class="hero-block__slider-img"
             src='{{ "assets/images/hero-image-03.jpg"|theme }}'>
      </div>
    </div>
    <div class="hero-block__tag">
      <img class="hero-block__logo"
           src='{{ "assets/images/mamas-logo-heroblock.svg"|theme }}'
           width="170" height="77">
      <h1 class="hero-block__title">накормит вкусно<br>и по-домашнему</h1>
      <p class="hero-block__text">
        Наша фабрика-кухня открывает для вас новое направление профессиональной организации питания! Здесь вы найдете вкусные домашние обеды, еду для наших корнеров, меню для вашей столовой.
      </p>
      <a class="hero-block__btn btn" href="{{'docs/Mamas_Lunches_Menu.pdf'|media}}" target="_blank">Меню ланчей</a>
    </div>
    {% if lunchPlus %}
        {% set lunch = lunchPlus %}
    {% elseif lunchMain %}
        {% set lunch = lunchMain %}
    {% endif %}
    <div class="hero-block__menu  lunch-menu">
        <p class="lunch-menu__date">Меню на {{lunch.today.format('d.m')}}</p>
        <img class="lunch-menu__img" src="{{lunch.image.getThumb(320, 215, 'crop')}}">
        <ul class="lunch-menu__list">
            {% for item in lunch.items if item.isNotTypeSoup %}
            <li class="lunch-menu__item">{{item.title}}</li>
            {% endfor %}
            {% if lunch.soup %}
            <li class="lunch-menu__item  lunch-menu__item--optional">+ {{lunch.soup.title}}</li>
            {% else %}
            <li class="lunch-menu__item  lunch-menu__item--optional">Без вкусного супчика</li>
            {% endif %}
        </ul>
        <div class="lunch-menu__btn-container">
            <a class="lunch-menu__btn  btn" href="/order">Оформить заказ</a>
        </div>
        <a class="lunch-menu__note" href="/orders">Сделать предзаказ на несколько дней</a>
    </div>

  </div>
</section>

<section class="about">
  <div class="about__wrapper">
    <div class="about__block  about__block--01">
      <h2 class="about__title  title">
        Впервые у Food Delivery?<br>Давайте познакомимся!
      </h2>
      <p class="about__text   about__text--01">
        Пока наши повара готовят вам обед, расскажем немного о нас.
      </p>
    </div>
    <div class="about__block  about__block--02">
      <img class="about__img  about__img--mob-visible" src="{{ "assets/images/about_01.png"|theme }}" width="522" height="332">

      <div class="about__text-wrapper">
        <p class="about__text  about__text--02">
          Все блюда, приготовленные на кухне Food Delivery, отличаются высоким качеством.
          Наши друзья-фермеры поставляют нам самые свежие продукты, из которых на нашей
          прекрасно оборудованной кухне с любовью создаются
          ароматные завтраки и вкусные обеды, упакованные
          в <a href="#" class="about__link" data-toggle="animate" data-target="about-bubble" data-animate="swing">биоразлагаемые контейнеры</a>.
        </p>
        <div data-id="about-bubble" class="about__bubble hidden">
          <h4 class="about__bubble-title">
            Биоразлагаемые контейнеры? Что это?
          </h4>
          <p class="about__text  about__text--bubble">
            Мы заботится об экологии! Потому мы
            используем только инновационную
            биоразлагаемую посуду. Такая упаковка
            распадается в течение всего 2 лет при
            соприкосновении с воздухом без специальной
            утилизации и загрязнения окружающей среды.
            Здорово, правда?
          </p>
        </div>
      </div>

      <img class="about__img  about__img--mob-hidden" src="{{ "assets/images/about_01.png"|theme }}" width="522" height="332">
    </div>
    <div class="about__block  about__block--03">
      <img class="about__img  about__img--left" src="{{ "assets/images/about_02.png"|theme }}"
           width="553" height="307">
      <p class="about__text  about__text--03">
        Особое внимание мы уделяем тем, кто много работает.
        Ведь при большой умственной и физической нагрузке просто необходимо правильно питаться!
        Поэтому вот вам
        <button class="about__btn  btn" data-toggle="animate" data-target="advices-bubble" data-animate="swing">Советы от Food Delivery</button>
      </p>
    </div>
  </div>
</section>

<section class="advices">
  <div class="advices__wrapper">
    <div class="advices__list">
      <div data-id="advices-bubble" class="advices__item hidden">
        <div class="advices__tag">Совет №1</div>
        <p class="advices__problem">
          Легкомысленное отношение к полноценному обеду
          замедляет обмен веществ, что, как следствие,
          заставляет вас быстрее уставать. В то время как
          тщательно сбалансированное питание помогает
          повысить уровень производительности. Для этого важно найти золотую середину между нескончаемым праздником живота и недоеданием.
        </p>
        <p class="advices__solution">
          Не знаете, как это сделать?<br>
          Food Delivery решит эту проблему за вас!
        </p>
      </div>
      <div data-id="advices-bubble" class="advices__item hidden">
        <div class="advices__tag">Совет №2</div>
        <p class="advices__problem">
          Одна из причин не игнорировать обед также кроется
          в том,  что наш организм нуждается в обязательном перерыве. Это помогает не потерять эффективность
          и продолжить важные дела с новыми силами.
        </p>
        <p class="advices__solution">
          Mama’ s это знает, поэтому свежие
          горячие обеды всегда вовремя
          доставляются в ваш офис!
        </p>
      </div>
    </div>
  </div>
  <div class="advices__promo-wrapper">
    <div class="advices__promo-text">
      Наши завтраки и обеды разработаны специалистами, которые знают, какой набор витаминов и микроэлементов требуется деловому человеку для обеспечения притока энергии, работоспособности и сохранения здоровья.
    </div>
  </div>
</section>

<section class="delivery">
  <div class="delivery__wrapper">
    <h2 class="delivery__title  title">
      Условия доставки
    </h2>
    <div class="delivery__steps">
    <div class="delivery__step">
      <div class="delivery__img-container">
        <img class="delivery__img  delivery__img--01" src="{{ "assets/images/step01.png"|theme }}" width="291" height="139">
      </div>
      <p class="delivery__text">
        Сделайте заказ от 2 порций
      </p>
    </div>
    <div class="delivery__step">
      <div class="delivery__img-container">
        <img class="delivery__img  delivery__img--02" src="{{ "assets/images/step02.png"|theme }}" width="213" height="212">
      </div>
      <p class="delivery__text">
        Получите свой вкусный
        и свежий обед в назначенное время
      </p>
    </div>
    <div class="delivery__step">
      <div class="delivery__img-container">
        <img class="delivery__img  delivery__img--03" src="{{ "assets/images/step03.png"|theme }}" width="196" height="170">
      </div>
      <p class="delivery__text">
        Оплачивайте онлайн
        или наличными при доставке
      </p>
    </div>
  </div>
</section>

<section class="contacts">
  <a name="contacts"></a>
  <div class="contacts__wrapper">
    <h2 class="contacts__title  title">
      Food Delivery всегда на связи
    </h2>
    <div class="contacts__left">
      <div class="contacts__columns">
        <div class="contacts__text">
          Мы всё время заботимся о вас
          и стараемся повышать качество
          нашей продукции и сервиса!
        </div>
        <div class="contacts__text">
          Так что, делитесь с нами своими вопросами,
          предложениями и простыми наблюдениями.
        </div>
      </div>
      <a class="contacts__text  contacts__text--phone" href="tel:+7-777-065-65-65">+ 7 777 065 65 65</a>
      <p class="contacts__text  contacts__text--schedule">Каждый день с 08:00 до 22:00</p>
      <a class="contacts__text  contacts__text--mail" href="mailto:mamas@pgr.kz">mamas@pgr.kz</a>
    </div>
    <div class="contacts__right">
      <form class="contacts__form" role="form" data-toggle="validator" id="contacts-form">
        <p class="contacts__form-title">
          Мы всё обязательно прочитаем
          или примем к сведению!
        </p>
        <div class="form-group">
          <input class="contacts__field-text  form-control" name="name" type="text"
              data-minlength="2"
              data-required-error="Необходимо указать контактные данные"
              data-minlength-error="В имени должно быть не меньше 2-х букв"
              data-error="Поле обязательно для заполнения"
              placeholder="Фамилия Имя" required><br>
          <div class="contacts__help-block  help-block  with-errors"></div>
        </div>

        <div class="form-group">
          <input class="contacts__field-text  form-control" name="phone" type="tel" id="contacts-mob"
              data-required-error="Необходимо указать телефон"
              data-error="Поле обязательно для заполнения"
              placeholder="Мобильный телефон" required><br>
          <div class="contacts__help-block  help-block  with-errors"></div>
        </div>

        <div class="form-group">
          <textarea class="contacts__field-textarea" name="text" placeholder="Комментарий"
                    data-minlength="8"
                    data-minlength-error="В сообщении должно быть не меньше 8-ми букв"
                    data-error="Поле обязательно для заполнения"
                    data-required-error="Поле не может быть пустым" required></textarea>
          <div class="contacts__help-block  help-block  with-errors"></div>
        </div>

        <div class="form-group">
          <div class="contacts__btn-container">
            <button id="contacts-form-submit" class="contacts__btn btn" type="submit">Отправить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="team">
  <a name="team"></a>
  <div class="team__wrapper">
    <h2 class="team__title  title">
      Команда Food Delivery
    </h2>
    <p class="team__text  team__text--01">
      Позвольте представить вам людей,
      благодаря которым обеды Food Delivery умело сочетают в себе восхитительный вкус
      и пользу, а качество и сервис сохраняются на высоком уровне.
    </p>
    <img class="team__img  team__img--right" src="{{ "assets/images/team-food-right.png"|theme }}" width="542" height="437">
  </div>
    <div class="team__chief">
      <div class="team__chief-line"></div>
      <div class="team__wrapper">
        <img class="team__chief-photo" src="{{ "assets/images/victor.jpg"|theme }}" width="238" height="216">
        <h3 class="team__name">Виктор Весса, шеф-повар</h3>
        <p class="team__descr">
          Виктор, участник конкурсов не только
          в Казахстане, но и заграницей.
          Обладатель большого опыта в разработке
          диетического меню и программ сбалансированного питания, также является мастером
          европейской кухни.
          Состоит в ассоциации шеф-поваров Казахстана.
        </p>
      </div>
    </div>
  <div class="team__wrapper">
    <div class="team__other-peoples">
      <img class="team__img--left" src="{{ "assets/images/team-food-left.png"|theme }}" width="430" height="282">
      <p class="team__text">
        В разработке меню Food Delivery участвуют шеф-повара
        ведущих ресторанов сети Food Delivery Group.
      </p>
      <div class="team__other-chiefs">
        <div class="team__other-chief">
          <span>Фамилия Имя, </span><br>шеф-повар ресторана
        </div>
        <div class="team__other-chief">
          <span>Фамилия Имя, </span><br>шеф-повар ресторана
        </div>
        <div class="team__other-chief">
          <span>Фамилия Имя, </span><br>шеф-повар ресторана
        </div>
      </div>
      <p class="team__text">
        Также существование наших брендов было бы
        невозможно без <span class="team__text--bold">Директора и Операционного Директора.</span>
      </p>
    </div>
  </div>
  <div class="team__large-image">
    <img src="{{ "assets/images/team-all.jpg"|theme }}">
  </div>
</section>

<section class="lunch-order">
  <a name="lunch-order"></a>
  <div class="lunch-order__wrapper">
    <h2 class="lunch-order__title  title">
      С Food Delivery вкусно и выгодно!
    </h2>
    <p class="lunch-order__text">
      Хотите заказать для ваших сотрудников обеды самого высокого качества?
    </p>
    <p class="lunch-order__text">
      Отличная мысль! Будем рады дружить!
    </p>
    <img class="lunch-order__photo" src="{{ "assets/images/lunch-order-photo.jpg"|theme }}" width="447" height="415">
    <p class="lunch-order__text">
        Также мы оказываем услуги, связанные с организацией питания на территории предприятий с предоставлением необходимого технологического оборудования, квалифицированного обслуживающего персонала и соблюдением всех санитарно-гигиенических требований.
    </p>
    <p class="lunch-order__text">
        Мы предоставим вам полный комплекс услуг для обеспечения ваших сотрудников ежедневными обедами.
    </p>
    <div class="lunch-order__btn-container">
      <a class="lunch-order__btn  btn" onclick="corporatModal(event)">
          Подать заявку
      </a>
    </div>
  </div>
</section>
