title = "Форма заказа"
url = "/order"
layout = "default"

[orderForm]
[socialForm]
==
{% put scripts %}
    <script>
    var companies = [
        {% for company in companies %}
            {
                data: {{company.id}},
                value: '{{company.title}}',
                company: {
                    title: '{{company.title}}',
                    address: '{{company.address}}',
                    office: '{{company.office}}'
                }
            },
        {% endfor %}
    ];
    </script>

    <script src="{{ [
        'assets/vendor/underscore.min.js',
        'assets/vendor/vue.js',
        'assets/vendor/v-mask.min.js',
        'assets/javascript/app.js'
    ]|theme }}"></script>
{% endput %}
<div id="app">
    <script type="text/x-template" id="tpl-product-counter">
        <div class="product-counter__wrapper" :class="{hoverable: available}">
            {% verbatim %}
            <div v-show="showTitle" class="item-price animated fadeIn">{{this.currentCountPrice}}&nbsp;тенге</div>
            <div v-show="showTitle" class="item-title">{{this.currentTitle}}</div>
            {% endverbatim %}
            <div class="counter-container" v-show="available">
                <button class="counter-btn btn" @click="removeCurrentCount">-</button>
                <input class="counter-input" type="tel" :value="currentCount" minlenght="1" maxlength="3"/>
                <button class="counter-btn btn" @click="addCurrentCount">+</button>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="tpl-check-form">
        <div>
            <div v-show="showForm">
                <p class="order-total__footer_note">У вас сейчас не хватает порций для оформления заказа,<br> проверьте заказал ли обед кто-то из ваших коллег.</p>
                <form id="check-form" class="order-total__footer_form">
                    <div class="form-group">
                        <input id="check-form-input" class="contacts__field-text" type="text" name="company" placeholder="Название компании">
                        <input id="check-form-hidden" type="hidden" name="company_id">
                        <button id="check-form-submit" class="order-total__btn btn">Проверить</button>
                    </div>
                </form>
            </div>
            <div v-show="showFail">
                <p class="order-total__footer_note">Никто из ваших коллег еще не заказал себе обед.<br> Добавьте еще порции и мы сможем оформить ваш заказ!</p>
                <a href="javascript:;" @click="back" class="order-total__btn btn">Назад</a>
            </div>
            <div v-show="showSuccess">
                <p class="order-total__footer_note">Ваши коллеги уже заказали себе обеды!<br> Можете добавить свой обед к общему заказу</p>
                <a href="javascript:;" @click="back" class="order-total__btn_cancel btn">Назад</a>
                <a href="javascript:;" @click="confirm" class="order-total__btn btn">Продолжить</a>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="tpl-order-form">
        <div class="order-total__body">
            <a href="javascript:;" @click="showForm" class="order-total__body_back" :class="{hidden: hidePayments}">← Назад</a>
            <form id="order-form" class="order-total__form" :class="{hidden: hideForm}" data-toggle="validator">
                <div class="form-group  form-group--order">
                    <input class="contacts__field-text" type="text"
                        name="fullname"
                        placeholder="Фамилия Имя"
                        minlenght="5"
                        maxlength="64"
                        data-error="Поле обязательно для заполнения"
                        v-model="user.fullname"
                        required>
                    <div class="contacts__help-block help-block  help-block--order  with-errors"></div>
                </div>
                <div class="form-group form-group--order">
                    <input class="contacts__field-text" type="tel"
                        name="phone"
                        placeholder="Мобильный телефон"
                        data-error="Поле обязательно для заполнения"
                        v-model="user.phone"
                        v-mask="'+# (###) ###-##-##'"
                        required>
                    <div class="contacts__help-block help-block  help-block--order  with-errors"></div>
                </div>
                <div class="form-group  form-group--order">
                    <input class="contacts__field-text" type="text"
                        name="email"
                        placeholder="Email"
                        data-error="Поле обязательно для заполнения"
                        v-model="user.email"
                        required>
                    <div class="contacts__help-block help-block  help-block--order  with-errors"></div>
                </div>
                <div class="form-group  form-group--order">
                    <input class="contacts__field-text" type="text"
                        id="order-form-company"
                        name="company"
                        placeholder="Компания"
                        minlenght="3"
                        maxlength="25"
                        data-error="Поле обязательно для заполнения"
                        v-model="company.title"
                        required>
                    <div class="contacts__help-block help-block  help-block--order  with-errors"></div>
                </div>
                <div class="form-group  form-group--order">
                    <input class="contacts__field-text" type="text"
                        name="street"
                        placeholder="Улица, дом"
                        minlenght="5"
                        maxlength="64"
                        data-error="Поле обязательно для заполнения"
                        v-model="company.address"
                        required>
                    <div class="contacts__help-block help-block  help-block--order  with-errors"></div>
                </div>
                <div class="form-group  form-group--order">
                    <input class="contacts__field-text" type="tel"
                        name="office"
                        placeholder="№ Офиса"
                        minlenght="1"
                        maxlength="10"
                        data-error="Поле обязательно для заполнения"
                        v-model="company.office"
                        required>
                    <div class="contacts__help-block help-block  help-block--order  with-errors"></div>
                </div>
                <div class="form-placeholder"></div>
                <div class="form-group form-group--order contacts__field-select__wrapper">
                    <select class="contacts__field-select" type="text"
                        name="time"
                        placeholder="Выберите время доставки"
                        data-error="Поле обязательно для заполнения"
                        required>
                        <option value="12:00-13:00" selected>Доставить с 12:00 до 13:00</option>
                        <option value="13:00-14:00">Доставить с 13:00 до 14:00</option>
                        <option value="14:00-15:00">Доставить с 14:00 до 15:00</option>
                    </select>
                    <div class="contacts__help-block help-block  help-block--order  with-errors"></div>
                </div>
                <div class="contacts__btn-container">
                    <input id="order-form-hidden" type="hidden" name="company_id" v-model="company.id">
                    <button @click="submitForm" id="order-form-submit" class="contacts__btn order-form__btn  btn">Оформить заказ</button>
                </div>
            </form>
            <div class="order-total__payments__wrapper" :class="{hidden: hidePayments}">
                <p class="order-total__body_title">Выберите способ оплаты:</p>
                <ul class="order-total__payments">
                    <li class="order-total__payments_item">
                        <a href="javascript:;" @click="submitPayment('cash')">
                            <img src="{{'assets/images/order-total-icon-pay.png'|theme}}" width="120" height=""/>
                            <span>Наличными курьеру</span>
                        </a>
                    </li>
                    <li class="order-total__payments_item">
                        <a href="javascript:;" @click="submitPayment('kkb')">
                            <img src="{{'assets/images/order-total-icon-epay.png'|theme}}" width="200" height=""/>
                            <span>Онлайн-оплата картой</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <section class="order-block">
      <div class="order-block__wrapper">
        <div class="order-block__menu lunch-menu">
          <p class="lunch-menu__date">Меню на {{lunchMain.today.format('d.m')}}</p>
          <img class="lunch-menu__img" src="{{lunchMain.image.getThumb(320, 215, 'crop')}}">
          <ul class="lunch-menu__list">
              {% for item in lunchMain.items if item.isNotTypeSoup %}
              <li class="lunch-menu__item">{{item.title}}</li>
              {% endfor %}
              {% if lunchMain.soup %}
              <li class="lunch-menu__item  lunch-menu__item--optional">+ {{lunchMain.soup.title}}</li>
              {% else %}
              <li class="lunch-menu__item  lunch-menu__item--optional">Без вкусного супчика</li>
              {% endif %}
          </ul>
          <div class="lunch-menu__price-container">
            <span class="lunch-menu__price">{{lunchMain.price}} тенге</span>
            <span class="lunch-menu__price-note">Напиток, хлеб и приборы включены</span>
          </div>
          <div class="lunch-menu__counter-container">
              <label class="lunch-menu__counter-label">Количество порций</label>
              <product-counter
                  :id="{{lunchMain.id}}"
                  :count="0"
                  :price="{{lunchMain.price}}"
                  :emit-count="true"
                  :available="canChangeLunches"
                  @add="addProduct"
                  @remove="removeProduct">
              </product-counter>
          </div>
        </div>

        <div class="order-block__menu lunch-menu">
            <p class="lunch-menu__date">Меню на {{lunchPlus.today.format('d.m')}}</p>
            <img class="lunch-menu__img" src="{{lunchPlus.image.getThumb(250, 168, 'crop')}}">
          <ul class="lunch-menu__list">
              {% for item in lunchPlus.items if item.isNotTypeSoup %}
              <li class="lunch-menu__item">{{item.title}}</li>
              {% endfor %}
              {% if lunchPlus.soup %}
              <li class="lunch-menu__item  lunch-menu__item--optional">+ {{lunchPlus.soup.title}}</li>
              {% else %}
              <li class="lunch-menu__item  lunch-menu__item--optional">Без вкусного супчика</li>
              {% endif %}
          </ul>
          <div class="lunch-menu__price-container">
            <span class="lunch-menu__price">{{lunchPlus.price}} тенге</span>
            <span class="lunch-menu__price-note">Напиток, хлеб и приборы включены</span>
          </div>
          <div class="lunch-menu__counter-container">
              <label class="lunch-menu__counter-label">Количество порций</label>
              <product-counter
                  :id="{{lunchPlus.id}}"
                  :count="0"
                  :price="{{lunchPlus.price}}"
                  :emit-count="true"
                  :available="canChangeLunches"
                  @add="addProduct"
                  @remove="removeProduct">
              </product-counter>
          </div>
        </div>

        <div class="order-block__feature-wrapper">
            {% for category in otherCategories %}
            <div class="lunch-feature">
                <p class="lunch-feature__title">{{category.title}}</p>
                <img class="lunch-feature__img" src="{{category.products.first.image.getThumb(243, 129, 'crop')}}">
                <ul class="lunch-feature__list">
                  {% for product in category.products if product.is_enabled %}
                  <li class="lunch-feature__item">
                      <product-counter
                          :id="{{product.id}}"
                          :count="0"
                          :title="'{{product.title}}'"
                          :price="{{product.price}}"
                          :emit-count="false"
                          :available="canChangeFeatures"
                          @add="addProduct"
                          @remove="removeProduct">
                  </product-counter>
                  </li>
                  {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

      </div>
    </section>

    <section class="order-total__fixed">
        <a href="#order-total" class="order-total__fixed_wrapper">
            <span class="order-total__header_title">Сумма вашего заказа</span>
            {% verbatim %}
            <span class="order-total__header_price">{{this.totalPrice}} тенге ({{this.totalCount}})</span>
            {% endverbatim %}
        </a>
    </section>

    <section v-if="isOrderAvailable" class="order-total order-total-confirm">
        <a name="order-total" tabindex="-1"></a>
        <div class="order-total__wrapper">
            <div class="order-total__header">
                <span class="order-total__header_title">Сумма вашего заказа</span>
                {% verbatim %}
                <span class="order-total__header_price">{{this.totalPrice}} тенге ({{this.totalCount}})</span>
                {% endverbatim %}
            </div>
            <order-form :products="products" :user="user" :company="company"></order-form>
            <div v-if="canLoginSocials" class="order-total__footer">
                <ul class="order-total__socials">
                    <li class="socials__social-icon socials__social-icon--order socials__social-icon--vk"><a href="javascript:;" @click="vkLogin">vk</a></li>
                    <li class="socials__social-icon socials__social-icon--order socials__social-icon--fb"><a href="javascript:;" @click="fbLogin">fb</a></li>
                </ul>
                <p class="order-total__socials-note">Используйте аккаунты социальных сетей, чтобы не заполнять форму в следующий раз.</p>
            </div>
            <div v-else class="order-total__footer">
                <p v-if="hasFBAuth" class="order-total__socials-note">Вы вошли через Facebook</p>
                <p v-if="hasVKAuth" class="order-total__socials-note">Вы вошли через VKontakte</p>
                <a href="javascript:;" @click="appLogout" class="btn order-total__socials-btn">Выйти</a>
            </div>
        </div>
    </section>

    <section v-else class="order-total">
        <a name="order-total" tabindex="-1"></a>
        <div class="order-total__wrapper">
            <div class="order-total__header">
                <span class="order-total__header_title">Сумма вашего заказа</span>
                {% verbatim %}
                <span class="order-total__header_price">{{totalPrice}} тенге ({{totalCount}})</span>
                {% endverbatim %}
            </div>
            <div class="order-total__body">
                <img src="{{'assets/images/order-total-icon-add.png'|theme}}" />
                <p class="order-total__body_note">Мы точно знаем, что кто-то еще хочет заказать обед</p>
                <p class="order-total__body_note">P.S.: По правилам Food Delivery обеды доставляются от 2 порций.</p>
            </div>
            <div class="order-total__footer">
                <check-form @check="changeCompanyCount"></check-form>
            </div>
        </div>
        {#<div v-if="canLoginSocials" class="order-total__socials-wrapper">
            <ul class="order-total__socials">
                <li class="socials__social-icon socials__social-icon--order socials__social-icon--vk"><a href="javascript:;" @click="vkLogin">vk</a></li>
                <li class="socials__social-icon socials__social-icon--order socials__social-icon--fb"><a href="javascript:;" @click="fbLogin">fb</a></li>
            </ul>
          <p class="order-total__socials-note">Используйте аккаунты социальных сетей, чтобы не заполнять форму в следующий раз.</p>
        </div>
        <div v-else class="order-total__footer">
        </div>#}
    </section>

</div>
