title = "Накормит вкусно и по-домашнему"
url = "/success/:method"
layout = "default"

==
<?php
public function onStart()
{
	$this['method'] = $this->param('method');
}
?>
==
<section class="order-block order-block_empty">
    <div class="order-block__wrapper">

		<div class="modal" id="order-success-modal">
		    <div class="modal__wrapper  modal__wrapper--order-success">
		      <h3 class="modal__title  modal__title--order-success">
		        Мы приняли ваш заказ
		      </h3>
		      <div class="modal__body  modal__body--order-success">
		        <p class="modal__feedback  modal__feedback--order-success">
		          В ближайшее время наш оператор
		          свяжется с вами для подтверждения заказа.<br>
		          Спасибо, что вы с нами!
		        </p>
		        <p class="modal__feedback  modal__feedback--order-success">
		          Приятного аппетита! :)
		        </p>

		        <div class="modal__btn-container">
		          <a class="modal__btn  modal__btn--order-success  btn" href="/">Вернуться на главную</a>
		        </div>
		      </div>
		      <div class="modal__footer  modal__footer--bonappetit">
		        <div class="modal__footer-left">
		          <img src='{{ "assets/images/bon-appetit-logo.svg"|theme }}'
		               alt="Bon Appetit logo" width="146" height="79">
		          <a class="modal__btn  modal__btn--bonappetit btn" href="http://somesite.url" target="_blank">
		            Заказать ужин домой
		          </a>
		        </div>
		        <div class="modal__footer-right">
		          <img src='{{ "assets/images/bon-appetit_salad.jpg"|theme }}' >
		        </div>
		      </div>
		    </div>
		</div>

    </div>
</section>

{% put scripts %}
<script>
$(function() {
	$('#order-success-modal').bPopup({
	    amsl: 0,
	    modalClose: false,
	    // closeClass: 'close',
	    opacity: 0.8,
	    positionStyle: 'absolute',
	    transition: 'slideDown',
	    onClose: function() {
	        location.replace('/');
	    }
	});
})
</script>
{% endput %}
