.about {
  // outline: 1px green solid;

}

.about__wrapper {
  @include container();
  width: 104rem;
  padding-top: 4rem;
  // outline: 1px green solid;
}

.about__block {
  @include clearfix();
  // outline: 1px red solid;

  &--01 {
    padding: 0;
    margin: 0;
    padding-top: 2rem;

    background-image: url("../images/about-arrow1.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 20rem 0;
    // outline: 1px blue solid;
  }

  &--02 {
    // outline: 1px red solid;
  }

  &--03 {
    padding-top: 6rem;
    margin-top: -6rem;
    background-image: url("../images/about-arrow2.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 38rem 0;
  }

}

.about__title {
  width: 53rem;
  min-height: 20rem;
  padding-bottom: 0;
  padding-top: 3.5rem;
  padding-left: 2.5rem;
  float: left;
  margin: 0;

  background-image: url("../images/about-title-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  // outline: 1px red solid;
  white-space: nowrap;
  line-height: 1.2;
}

.about__text-wrapper {
  float: left;
  width: 48rem;
  }

.about__text {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: $dark-gray;
  width: 38rem;
  float: right;
  margin-right: 5rem;
  margin-top: 6rem;

  // outline: 1px red solid;

  &--01 {
    position: relative;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 11.2rem;
      height: 7.7rem;
      top: -8rem;
      right: 6rem;
      transform: rotate(12deg);

      background-image: url("../images/about-cook.svg");
      background-repeat: no-repeat;
    }
  }

  &--02{
    float: none;
  }

  &--03 {
    margin-top: 10rem;
  }

  &--bubble {
    float: none;
    margin: 0;
    padding: 2rem;
    background: $light-gray;

  }
}

.about__link {
  color: $accent;
  font-weight: 700;
}

.about__img {
  float: right;
  width: 52.2rem;
  margin-top: -3rem;
  // outline: 1px red solid;

  &--mob-visible {
    display: none;
  }

  &--left {
    width: 55.3rem;
    margin-top: 3rem;
    float: left;
  }

}

.about__btn {
  margin-top: 2rem;
}

.about__bubble {
  // position: absolute;
  width: 80%;
  margin-top: -1.5rem;
  margin-left: 10%;
  // outline: 1px red solid;
}

.about__bubble-title {
  width: 41rem;
  height: 4rem;
  margin: 0;
  margin-left: -2rem;
  padding-top: 4rem;
  padding-left: 4rem;

  // outline: 1px red solid;
  background-image: url("../images/about-bubble-title.svg");
  background-repeat: no-repeat;

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: $dark-gray;
}



@media #{$mobile-width} {

  .about {
    // outline: 1px green solid;

  }

  .about__wrapper {
    @include container();
    width: 30rem;
    padding-top: 4rem;
    // outline: 1px green solid;
  }

  .about__block {
    @include clearfix();
    // outline: 1px red solid;

    &--01 {
      padding: 0;
      margin: 0;
      padding-top: 2rem;

      background: none;
      // outline: 1px blue solid;
    }

    &--02 {
      // outline: 1px red solid;
    }

    &--03 {
      padding-top: 6rem;
      margin-top: -6rem;
      background: none;
    }

  }

  .about__title {
    width: 30rem;
    min-height: auto;
    padding-bottom: 4rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
    float: none;
    margin: 0 -0.75rem;
    font-size: 2.4rem;
    // outline: 1px red solid;
  }

  .about__text-wrapper {
    float: none;
    width: 30rem;
    // outline: 1px blue solid;

  }

  .about__text {
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 30rem;
    float: none;
    margin-right: 5rem;
    margin-top: 2rem;

    // outline: 1px red solid;

    &--01 {
      position: initial;

      &::after {
        content: none;
      }
    }

    &--02{
      float: none;
    }

    &--03 {
      margin-top: 2rem;
    }

    &--bubble {
      width: 26rem;
      float: none;
      margin: 0;
      padding: 2rem;
      background: $light-gray;

    }
  }

  .about__link {
    color: $accent;
    font-weight: 700;
  }

  .about__img {
    float: none;
    width: 52.2rem;
    margin-top: -3rem;
    // outline: 1px red solid;

    &--mob-hidden {
      display: none;
    }

    &--mob-visible {
      margin-top: 0;
      display: block;
    }

    &--left {
      width: 55.3rem;
      margin-top: 0;
      margin-bottom: 0;
      float: none;
    }

  }

  .about__btn {
    @include container();
    margin-top: 2rem;
    width: 25rem;
  }

  .about__bubble {
    // position: absolute;
    width: 80%;
    margin-top: -1.5rem;
    margin-left: 0;
    margin-bottom: 2rem;
    // outline: 1px red solid;
  }

  .about__bubble-title {
    width: 28rem;
    height: auto;
    margin: 0;
    margin-left: -0.8rem;
    padding-top: 5rem;
    padding-left: 3rem;
    padding-bottom: 1rem;

    // outline: 1px red solid;
    background-image: url("../images/about-bubble-title.svg");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: $dark-gray;
  }


}
