.advices {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.advices__wrapper {
  @include container();
  width: 104rem;
  padding-top: 4rem;
}

.advices__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.advices__item {
  // outline: 1px red solid;
  padding: 3.5rem 2.5rem 0 2.5rem;
  position: relative;
  width: 45rem;
  height: 29rem;
  background-image: url("../images/advice-bg.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.advices__tag {
  position: absolute;
  min-width: 11rem;
  min-height: 2.6rem;
  top: -1rem;
  left: 1rem;
  text-align: center;
  padding-top: 0.5rem;

  background-image: url("../images/advice-tag-bg.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: white;
}

.advices__problem {
  margin: 0;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: $dark-gray;
}

.advices__solution {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: $dark-gray;
}

.advices__promo-wrapper {
  background-color: $light-gray;
  padding-top: 7rem;
  margin-top: -5rem;
  padding-bottom: 5rem;
}

.advices__promo-text {
  @include container();
  width: 90rem;

  text-align: center;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: $dark-gray;
}


@media #{$mobile-width} {

  .advices {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .advices__wrapper {
    @include container();
    width: 32rem;
    padding-top: 0;
    // outline: 1px blue solid;
  }

  .advices__list {
    width: 100%;
    display: block;
    // justify-content: space-between;
  }

  .advices__item {
    // outline: 1px red solid;
    padding: 3.5rem 1.5rem 1.5rem 1.5rem;
    margin-top: 2rem;
    position: relative;
    width: 30rem;
    height: auto;
    background-image: url("../images/advice-bg.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }

  .advices__tag {
    position: absolute;
    min-width: 11rem;
    min-height: 2.6rem;
    top: -1rem;
    left: 1rem;
    padding-top: 0.5rem;

    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .advices__problem {
    margin: 0;

    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .advices__solution {
    font-size: 2.1rem;
    line-height: 2.4rem;
  }

  .advices__promo-wrapper {
    padding-top: 3rem;
    margin-top: 2rem;
    padding-bottom: 5rem;
  }

  .advices__promo-text {
    @include container();
    width: 30rem;

    font-size: 2.4rem;
    line-height: 2.7rem;
  }


}