.btn {
  display: block;
  position: relative;
  top: 0;
  margin-bottom: 0.5rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  text-decoration: none;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  color: white;

  background: $accent;
  border-radius: 3rem;
  border: none;
  box-shadow:  0 0.6rem 0 0 $secondary;

  &:hover, &:active {
    top: 0.5rem;
    margin-bottom: 0;
    box-shadow:  0 0.2rem 0 0 $secondary;
  }

}

.btn-payment {
    width: 50%;
    max-width: 20rem;
    margin: 0 auto;
}
