@import "../variables.scss";
@import "../mixins.scss";
@import "../scaffolding.scss";

.contacts {
  background-color: $accent;
}

.contacts__wrapper {
  @include container();
  width: 104rem;
  @include clearfix();
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 3rem;
  padding-left: 3rem;

  background-image: url("../images/contacts-bg.svg");
  background-repeat: no-repeat;
  background-size: 45.6rem 12.2rem;
  background-position: 64rem 2rem;
}

.contacts__title {
  color: $beige;
  margin-bottom: 3rem;
}

.contacts__left {
  // outline: 1px green solid;
  float: left;
}

.contacts__columns {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8rem;
}

.contacts__text {
  width: 28rem;
  margin-right: 3rem;
  // outline: 1px blue solid;
  // padding: 0;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: white;
  text-decoration: none;

  &--phone {
    padding-left: 4rem;
    width: 40rem;
    font-family: 'Bello Pro', Arial, sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 4.8rem;
    color: $beige;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 3.1rem;
      height: 3.7rem;
      // outline: 1px green solid;
      margin-top: 1rem;
      background-image: url("../images/phone-icon-sprite.svg");
      background-repeat: no-repeat;
      background-size: 3.1rem;
      background-position: top center;
    }
  }

  &--schedule {
    padding-left: 4rem;
    margin-top: 1rem;
    width: 40rem;
    font-size: 2.4rem;
    line-height: 2.7rem;
    margin-bottom: 4rem;
  }

  &--mail {
    padding-left: 4rem;
    width: 40rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.7rem;
    color: $beige;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 3.1rem;
      height: 3.7rem;
      margin-top: 0.2rem;
      background-image: url("../images/mail-icon-sprite.svg");
      background-repeat: no-repeat;
      background-size: 3.1rem;
      background-position: top center;
    }
  }
}


.contacts__right {
  width: 38rem;
  // outline: 1px blue solid;
  float: right;
}

.contacts__form {
  width: 100%;
}

.contacts__form-title {
  margin: 0;
  margin-bottom: 2rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.7rem;
  color: white;
}

.contacts__field-text {
  border: none;
  width: 36rem;
  height: 3.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0.5rem 0;

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $dark-gray;

  &:focus {
    outline: none;
  }

}

.contacts__field-select {
  border: none;
  // background: white;
  width: 36rem;
  height: 3.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0.5rem 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/select_arrow_down.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 1.5rem;

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $dark-gray;

  &:focus {
    outline: none;
  }

}

.contacts__field-select__wrapper {
  display: block;
  background: white;
  border: 1px soled $dark-gray;
  width: 36rem;
  height: 3.2rem;
}

.contacts__field-textarea {
  border: none;
  width: 36rem;
  height: 8rem;
  padding-top: 0.7rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0.5rem 0;

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $dark-gray;

  &:focus {
    outline: none;
  }

}

.contacts__help-block {
  margin-bottom: 0.5rem;
}

.contacts__btn-container {
  margin-top: 1.4rem;
  margin-bottom: 1.8rem;
}


.contacts__btn {
  margin-left: 13rem;
  background: $beige;
  color: $accent;
}






@media #{$mobile-width} {

  .contacts {
  }

  .contacts__wrapper {
    @include container();
    width: 30rem;
    @include clearfix();
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 0;
    padding-left: 0;

    background: none;
    // background-image: url("../images/contacts-bg.svg");
    // background-repeat: no-repeat;
    // background-size: 45.6rem 12.2rem;
    // background-position: 64rem 2rem;
  }

  .contacts__title {
    margin-bottom: 2rem;
  }

  .contacts__left {
    // outline: 1px green solid;
    float: none;
    margin-bottom: 3rem;
  }

  .contacts__columns {
    display: block;
    margin-bottom: 2rem;
  }

  .contacts__text {
    width: 30rem;
    margin-right: 0;
    // outline: 1px blue solid;
    margin-bottom: 2rem;

    font-size: 1.8rem;
    line-height: 2.4rem;

    &--phone {
      padding-left: 3rem;
      width: 30rem;
      font-size: 3.6rem;
      line-height: 3.8rem;

      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 2rem;
        height: 2.5rem;
        // outline: 1px green solid;
        margin-top: 1.4rem;
        background-size: 2rem;
      }
    }

    &--schedule {
      padding-left: 3rem;
      margin-top: 1rem;
      width: 30rem;
      font-size: 1.8rem;
      line-height: 2.1rem;
      margin-bottom: 3rem;
    }

    &--mail {
      padding-left: 3rem;
      width: 30rem;
      font-size: 2.4rem;
      line-height: 2.7rem;
      // outline: 1px green solid;

      &::before {
        width: 2.2rem;
        height: 2.5rem;
        margin-top: 0.8rem;
        background-size: 2.2rem;
      }
    }
  }


  .contacts__right {
    width: 30rem;
    // outline: 1px blue solid;
    float: none;
  }

  .contacts__form {
    width: 100%;
  }

  .contacts__form-title {
    margin: 0;
    margin-bottom: 2rem;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.7rem;
    color: white;
  }

  .contacts__field-text {
    border: none;
    width: 28rem;
    height: 4.4rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1.4rem;


    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .contacts__field-textarea {
    border: none;
    width: 28rem;
    height: 8rem;
    padding-top: 0.7rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1.4rem;

    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .contacts__btn-container {
    margin-bottom: 1.8rem;
  }


  .contacts__btn {
    @include container();
    width: 20rem;
  }


}
