.corners {

}

.corners__wrapper {
  @include container();
  @include clearfix();
  width: 104rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.corners__top {

}

.corners__descr {
  background-color: $light-gray;
}

.corners__text {
  width: 50%;
  float: left;
  // outline: 1px red solid;
}

.corners__paragraph {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: $dark-gray;
}

.corners__quote {
  float: right;
  width: 35%;

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.8rem;
  color: $accent;
}

.corners__happy-hours {
  @include container();
  width: 60rem;
  padding: 3rem;
  margin-top: -3rem;
  margin-bottom: 5rem;
  background-image: url("../images/happy-hours-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  // outline: 1px green solid;


  & > p {
    margin: 0;
    margin-bottom: 1.2rem;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: $accent;
    text-align: center;    
  }

}

.corners__note {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: $accent;
}

.corners__menu {
  position: relative;
  z-index: 2;
  @include container();
  @include clearfix();
  width: 90rem;
  background-color: $accent;
}

.corners__menu-descr {
  width: 50%;
  float: left;
  padding-left: 6rem; 
  padding-top: 2rem;
  // outline: 1px green solid;

  & > p {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: white;  
  }

}

.corners__btn-container {
  margin-bottom: 1.8rem; 
}

.corners__btn {
  width: 18rem;
  background: $beige;
  color: $accent;
}

.corners__menu-pic {
  width: 36.6rem;
  float: right;
}

.corners__map {
  height: 50rem;
  background-color: $light-gray;
  margin-top: -3rem;
}

.corners__map-balloon {
  padding-top: 1.2rem;
  padding-left: 3rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: white;
  text-align: left;
}




@media #{$mobile-width} {

  .corners {

  }

  .corners__wrapper {
    width: 30rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    // outline: 1px red solid;
  }

  .corners__top {

  }

  .corners__descr {

  }

  .corners__text {
    width: 100%;
    float: initial;
    // outline: 1px red solid;
  }

  .corners__paragraph {
    // размер шрифта без изменений
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  .corners__quote {
    float: initial;
    width: 100%;

    // размер шрифта без изменений
    font-size: 2.5rem;
    line-height: 2.8rem;
  }

  .corners__happy-hours {
    width: 28rem;
    padding: 2rem;
    margin-top: -3rem;
    margin-bottom: 3rem;


    & > p {
      margin: 0;
      margin-bottom: 1.2rem;
      font-size: 2.5rem;
      line-height: 2.8rem;
    }

  }

  .corners__note {
    font-size: 1.6rem;
    line-height: 1.2rem;

  }

  .corners__menu {
    width: 36rem;
    left: 50%;
    margin-left: -18rem;
 }

  .corners__menu-descr {
    width: 32rem;
    float: initial;
    padding-left: 2rem; 
    padding-top: 1rem;
    // outline: 1px green solid;

    & > p {
      text-align: center;
      // размер шрифта без изменений
      font-size: 2.5rem;
      line-height: 2.8rem;
    }

  }

  .corners__btn-container {
    margin-bottom: 4rem; 
  }

  .corners__btn {
    @include container();
    width: 18rem;
  }

  .corners__menu-pic {
    width: 36rem;
  }

  .corners__map {
    height: 50rem;
    margin-top: 2rem;
  }

  .corners__map-balloon {
    // тут ничего не менялось
    padding-top: 1.2rem;
    padding-left: 3rem;

    font-size: 1.8rem;
    line-height: 2.4rem;

  }



}