.delivery {
  // outline: 1px green solid;

}

.delivery__wrapper {
  @include container();
  width: 104rem;
  padding-top: 4rem;
  // outline: 1px green solid;
}

.delivery__title {

}

.delivery__steps {
  display: flex;
  justify-content: space-around;
}

.delivery__step {
  width: 25%;
  text-align: center;
}

.delivery__img-container {
  width: 30rem;
  height: 12rem;
  display: table-cell;
  vertical-align: bottom;
}

.delivery__img {
  // outline: 1px green solid;

  &--01 {
    width: 18rem;
    height: 8.6rem;
  }
  &--02 {
    width: 13.2rem;
    height: 13.1rem;
  }
  &--03 {
    width: 12.5rem;
    height: 11rem;
  }
}


.delivery__text {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: $dark-gray;
}




@media #{$mobile-width} {

  .delivery {
    // outline: 1px green solid;

  }

  .delivery__wrapper {
    @include container();
    width: 30rem;
    padding-top: 2rem;
    // outline: 1px green solid;
  }

  .delivery__title {

  }

  .delivery__steps {
    display: block;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .delivery__step {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
    // outline: 1px green solid;
  }

  .delivery__img-container {
    width: 30rem;
    height: 12rem;
    display: table-cell;
    vertical-align: bottom;
  }

  .delivery__img {
    // outline: 1px green solid;

    &--01 {
      width: 18rem;
      height: 8.6rem;
    }
    &--02 {
      width: 13.2rem;
      height: 13.1rem;
    }
    &--03 {
      width: 12.5rem;
      height: 11rem;
    }
  }


  .delivery__text {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.7rem;
    color: $dark-gray;
  }

}