.form-group {


  &--order {
    position: relative;
    // outline: 1px blue solid;
  }
}

input, select {
  outline: none;
  border: none;
}

.list-unstyled {
  @include list-normalize();
}

.help-block {
  
  text-align: center;

  &--order {
    margin: 0;
    position: absolute;
    // outline: 1px green solid;
    top: 3.4rem;
  }

}

.with-errors {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: white;
}


.has-error > input {
  outline: 1px $error-msg solid;

  &::placeholder {
    color: $error-msg;
  }
}

.form-group--order.has-error > input {
  box-sizing: border-box;

}


@media #{$mobile-width} {
  .form-group {
    min-height: 3.5rem;
  }

  .help-block {
  
    &--order {
      margin: 0;
      position: absolute;
      // outline: 1px green solid;
      top: 4rem;
    }

  }
}