.hero-block {

}

.hero-block__wrapper {
  @include container();
  position: relative;
  height: 57rem;
  text-align: center;
  overflow: hidden;
}

.hero-block__slider {
  background-color: $light-gray;
  z-index: -1;
}

.hero-block__slider-img {
  display: block;
  width: 100vw;
  height: 57rem;
  object-fit: cover;

  // outline: 1px red solid;
  // background-image: url("../images/hero-image-01.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center center;
}

.hero-block__tag {
  width: 54rem; //41.5rem
  position: absolute;
  top: 27rem;
  left: 9rem;

  background-image: url("../images/hero-block-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  // outline: 1px red solid;
}

.hero-block__logo {
  width: 22rem; //17rem
  height: 10.7rem; //7.7rem
  position: absolute;
  top: -1rem;
  left: -1.7rem;
}

.hero-block__title {
  margin: 0;
  margin-top: 2.4rem;
  margin-left: 23rem;
  width: 26rem; //23rem
  font-family: 'Bello Pro', sans-serif;
  font-size: 3.5rem;
  line-height: 3.0rem;
  color: $accent;
  text-align: left;
  white-space: nowrap;
  // outline: 1px red solid;
}

.hero-block__text {
  width: 43rem; //31rem
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: $dark-gray;
  // outline: 1px red solid;
}

.hero-block__btn {
  margin: 0;
  margin-left: 14rem; //8rem
  width: 18rem;
}

.hero-block__menu {

}




@media #{$mobile-width} {

  .hero-block {

  }

  .hero-block__wrapper {
    @include container();
    position: relative;
    // height: 110rem;
    height: auto;
    text-align: center;
    overflow: hidden;

    // outline: 1px red solid;
  }

  .hero-block__slider {

  }

  .hero-block__slider-img {
    width: 100vw;
    height: 30rem;
  }

  .hero-block__tag {
    width: 40rem;
    position: relative;
    top: initial;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    left: 50%;
    margin-top: -2.5rem;
    margin-left: -21rem;
    margin-bottom: 4rem;

    background-image: url("../images/hero-block-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    // outline: 1px red solid;
  }

  .hero-block__logo {
    position: absolute;
    width: 14rem;
    height: 6.8rem;
    top: 0.5rem;
    left: 4rem;
  }

  .hero-block__title {
    margin: 0;
    margin-top: 1.3rem;
    margin-left: 17.2rem;
    width: 21rem;
    font-size: 2.5rem;
    line-height: 3rem;
    // outline: 1px red solid;
  }

  .hero-block__text {
    width: 30rem;
    margin-top: 0.5rem;
    margin-left: 5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    // outline: 1px red solid;
  }

  .hero-block__btn {
    margin: 0;
    margin-left: 8rem;
    width: 18rem;
  }

  .hero-block__menu {
    bottom: 0;
  }



}
