.homemade {

}

.homemade__top {
  margin-bottom: 8rem;

}

.homemade__wrapper {
  @include container();
  width: 104rem;
}

.homemade__title {
  margin-bottom: 2rem;
}

.homemade__list {
  @include list-normalize();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // outline: 1px blue solid;
}

.homemade__item {
  width: 31%;
  margin-bottom: 5rem;
  // outline: 1px red solid;
}

.homemade__caption {
  margin: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 2rem 1.5rem;

  background-image: url("../images/homemade_caption.svg");

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: white;
  text-align: center;
}

.homemade__item-img {
  margin: 0;
  width: 32rem;
  height: 19rem;
  position: relative;
  top: -1rem;
  background: $beige;
  clip-path: polygon(32rem 0, 0 1rem, 1rem 18.7rem, 30.5rem 18.7rem);
}

.homemade__price {
  margin: 0;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 2rem 1rem;
  margin-top: -1.3rem;

  background: $accent;
  // clip-path: polygon(28.5rem 0, 0.5rem 0, 0.5rem 8rem, 29rem 8rem);

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: $beige;
  text-align: center;
}





@media #{$mobile-width} {
  .homemade {

  }

  .homemade__top {
    margin-bottom: 4rem;
  }

  .homemade__wrapper {
    width: 30rem;
  }

  .homemade__title {
    margin-bottom: 2rem;
  }

  .homemade__list {
    display: block;
    // outline: 1px blue solid;
  }

  .homemade__item {
    width: 100%;
    margin-bottom: 5rem;
    // outline: 1px red solid;
  }

  .homemade__caption {
    margin: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 2rem 1.5rem;


    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .homemade__item-img {
    margin: 0;
    width: 32rem;
    height: 19rem;
    top: -1rem;
    left: -1rem;
  }

  .homemade__price {
    margin: 0;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 2rem 1rem;
    margin-top: -1.3rem;

    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}