.lunch-order {
  background-color: $accent;
  background-image: url("../images/lunch-order-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.lunch-order__wrapper {
  @include container();
  @include clearfix();
  width: 104rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.lunch-order__title {
  color: $beige;
  margin-bottom: 6rem;
}

.lunch-order__text,
.lunch-order__text_small {
  padding-right: 50rem;
  margin-bottom: 3rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: white;
}

.lunch-order__text_small {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.lunch-order__photo {
  width: 44.7rem;
  height: 41.5rem;
  float: right;
  margin-top: -14rem;
  margin-right: -7.5rem;
}

.lunch-order__btn-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.lunch-order__btn {
  width: 35rem;
  background-color: $beige;
  color: $accent;
}






@media #{$mobile-width} {

  .lunch-order {

  }

  .lunch-order__wrapper {
    width: 30rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lunch-order__title {
    margin-bottom: 2rem;
  }

  .lunch-order__text,
  .lunch-order__text_small {
    padding-right: 0;
    margin-bottom: 3rem;

    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  .lunch-order__text_small {
      font-size: 1.6rem;
      line-height: 2.2rem;
  }

  .lunch-order__photo {
    width: 100%;
    height: auto;
    float: initial;
    margin-top: 0;
    margin-right: 0;
  }

  .lunch-order__btn-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .lunch-order__btn {
    @include container();
    width: 22rem;
  }


}







