.lunch-menu,
.lunch-feature {
  width: 25rem;
  height: 49rem;
  position: absolute;
  right: 8rem;
  top: 4rem;
  text-align: center;

  background-image: url("../images/lunch-menu-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  // outline: 1px red solid;
}

.lunch-menu__date {
  width: 11rem;
  height: 2.6rem;
  position: absolute;
  z-index: 2;
  right: 1.5rem;
  top: -2rem;

  background-image: url("../images/lunch-menu-date.svg");
  background-repeat: no-repeat;
  background-size: contain;

  padding-top: 0.5rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: white;
  text-align: center;
  // outline: 1px red solid;
}

.lunch-menu__img {
  // width: 26.4rem;
  // height: 17.7rem;
  margin-bottom: 2rem;
  clip-path: polygon(25rem 0, 0 0.7rem, 0.2rem 17.7rem, 24.6rem 17.7rem);
}

.lunch-menu__list {
  margin: 0;
  // margin-top: 19rem;

  @include list-normalize();
  // outline: 1px red solid;
}

.lunch-menu__item {
  margin-bottom: 1.7rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: $dark-gray;
  text-align: center;
  padding: 0 1rem;

  &--optional {
    background-color: $dark-beige;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.lunch-menu__btn-container {
  margin-bottom: 1.8rem;
}

.lunch-menu__btn {
  margin-left: 2rem;
  width: 16rem;
}

.lunch-menu__note {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: $dark-gray;

  &:hover,
  &:active {
    color: $accent;
  }
}

.lunch-menu__price-container {
  margin-bottom: 1.8rem;
}

.lunch-menu__price {
    display: block;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3rem;
    color: $accent;
    text-align: center;
    padding-bottom: 0.8rem;
}

.lunch-menu__price_note {
    color: $dark-gray;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.lunch-menu__counter-container,
.lunch-feature .counter-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}

.lunch-menu__counter-label,
.lunch-feature .counter-label {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    color: $dark-gray;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.lunch-menu__counter-container .counter-btn,
.lunch-feature .counter-container .counter-btn,
.lunch-menu__counter-container .lunch-menu__counter-btn,
.lunch-feature .counter-container .lunch-menu__counter-btn {
    position: relative;
    display: inline-block;
    padding: 0.8rem 1.6rem;
    width: 4rem;
    // outline: 1px red solid;
}

.lunch-menu__counter-container .counter-input,
.lunch-feature .counter-container .counter-input,
.lunch-menu__counter-container .lunch-menu__counter-input,
.lunch-feature .counter-container .lunch-menu__counter-input {
    position: relative;
    display: inline-block;
    padding: 0.8rem 1.6rem;
    margin: 0 1rem;
    width: 4rem;
    color: $dark-gray;
    background: white;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 0.6rem 0 0 $footer-icons-gray;
    outline: none;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-decoration: none;
    text-align: center;
}

.lunch-feature {
  position: relative;
  display: block;
  float: left;
  right: auto;
  top: auto;
  height: auto;
  margin-right: 5rem;
  margin-bottom: 5rem;
  background: none;
  // outline: 1px blue solid;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
}

.lunch-feature__title {
    position: relative;
    padding: 0;
    padding-top: 0.2rem;
    margin: 0 0 0 2rem;
    color: $accent;
    font-family: 'Bello Pro', Arial, sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 2.1rem;
    text-align: left;
    z-index: 2;
}

.lunch-feature__img {
    position: relative;
    padding: 0;
    margin: -1.5rem 0 0 0;
}

.lunch-feature__list {
    margin: 0;
    padding: 0 1rem;
    list-style: none;
    text-align: left;
}

.lunch-feature__item {
    position: relative;
    clear: both;
    padding: 1rem 0;
    min-height: 1.5rem;
    max-height: 3rem;

    .counter-container {
        position: relative;
        display: none;
        float: right;
        max-width: 9rem;
        padding: 0;
        margin: 0;

        .counter-btn {
            padding: 0.2rem 0.2rem;
            margin: 0;
            width: 2rem;
            box-shadow: none;
            font-size: 1.4rem;
            line-height: 1.6rem;

            &:hover {
                top: 0;
                box-shadow: none;
                background-color: $secondary;
            }
        }

        .counter-input {
            padding: 0.2rem 0.2rem;
            margin: 0;
            width: 3rem;
            box-shadow: none;
            font-size: 1.4rem;
            line-height: 1.4rem;
        }
    }

    .item-title {
        position: relative;
        display: block;
        float: left;
        max-width: 13rem;
        font-family: 'Roboto Condensed', Arial, sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-decoration: none;
        margin-left: -0.5rem;
    }

    .item-price {
        display: block;
        position: absolute;
        width: 11rem;
        height: 2.6rem;
        z-index: 2;
        top: 1.4rem;
        right: -1.7rem;

        background-image: url("../images/lunch-menu-price.svg");
        background-repeat: no-repeat;
        background-size: contain;

        padding-top: 0.5rem;
        font-family: 'Roboto Condensed', Arial, sans-serif;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.4rem;
        color: white;
        text-align: center;
        // outline: 1px red solid;
    }
    .product-counter__wrapper {
        display: block;
        width: 100%;
        height: 2rem;
    }
    .hoverable:hover {
        .item-price {
            display: none;
        }
        .counter-container {
            display: block;
        }
    }
}




@media #{$mobile-width} {

  .lunch-menu,
  .lunch-feature {
    // height: 49rem;
    @include container();
    width: 32rem;
    position: relative;
    right: initial;
    top: initial;
    padding-bottom: 7rem;
    text-align: center;
    // outline: 1px red solid;
  }

  .lunch-menu__date {
    width: 20rem;
    height: 3.2rem;
    right: 1rem;
    top: -3rem;

    padding-top: 1rem;
    font-size: 2.1rem;
    line-height: 2.1rem;
  }

  .lunch-menu__img {
    width: 32rem;
    // height: 17.7rem;
    margin-bottom: 2rem;
    // background-color: red;
    clip-path: polygon(32.1rem 0, 0 0.7rem, 0.3rem 22rem, 32rem 22rem);
  }

  .lunch-menu__list {
    @include container();
    // width: 30rem;
    text-align: center;
    // outline: 1px green solid;
  }

  .lunch-menu__item {
    @include container();
    width: 28rem;

    position: initial;
    margin-bottom: 1.7rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 0.5rem 0;
    // outline: 1px red solid;

    &--optional {
      width: 97%;
      background-color: $dark-beige;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-right: 0.1rem;
      // margin-left: 1.5rem;
    }
  }

  .lunch-menu__btn-container {
    margin-bottom: 2.5rem;
  }

  .lunch-menu__btn {
    @include container();
    width: 16rem;
  }

  .lunch-menu__note {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }


  .lunch-menu__price-container {
    margin-bottom: 1.8rem;
  }

  .lunch-menu__price {
      display: block;
      font-size: 2.8rem;
      line-height: 3rem;

      padding-bottom: 1.2rem;
  }

  .lunch-menu__price_note {
      font-size: 1.4rem;
      line-height: 1.6rem;
  }

  .lunch-menu__counter-container,
  .lunch-feature__counter-container {
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-right: 0.6rem;
      margin-left: 0.6rem;
      // outline: 1px red solid;
  }

  .lunch-menu__counter-label,
  .lunch-feature__counter-label {
      display: block;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-right: 0.6rem;
      margin-left: 0.6rem;

      font-size: 1.6rem;
      line-height: 1.8rem;
  }

  .lunch-menu__counter-container .counter-btn,
  .lunch-feature__counter-container .counter-btn {
      position: relative;
      display: inline-block;
      padding: 0.8rem 1.6rem;
      width: 4rem;
  }

  .lunch-menu__counter-container .counter-input,
  .lunch-feature__counter-container .counter-input {
      padding: 0.8rem 1.6rem;
      margin: 0 1rem;
      width: 4rem;

      border-radius: 3rem;
      box-shadow: 0 0.6rem 0 0 $footer-icons-gray;

      font-size: 1.8rem;
      line-height: 1.8rem;

  }


  .lunch-feature {
    position: relative;
    display: block;

    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 3rem;

  }

  .lunch-feature__title {
      position: relative;
      padding: 0;
      margin: 0;

      font-size: 2.8rem;
      line-height: 2.1rem;

  }

  .lunch-feature__img {
      position: relative;
      padding: 0;
      margin: -0.7rem 0 0 0;
  }

  .lunch-feature__list {
      width: 28rem;
      margin: 0;
      padding: 0 1rem;
      list-style: none;
      text-align: left;
      // outline: 1px green solid;
  }

  .lunch-feature__item {
      // outline: 1px blue solid;
      position: relative;
      clear: both;
      padding: 1rem 0;
      min-height: 1.5rem;
      max-height: none;

  }

  .lunch-feature__item-title {
      position: relative;
      display: block;
      float: left;
      max-width: 19rem;
      font-family: 'Roboto Condensed', Arial, sans-serif;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.8rem;
      text-decoration: none;
      // outline: 1px green solid;
  }

  .lunch-feature__item-price {
      display: none;
      position: absolute;
      width: 11rem;
      height: 2.6rem;
      z-index: 2;
      top: -1.5rem;
      left: -0.5rem;

      background-image: url("../images/lunch-menu-price.svg");
      background-repeat: no-repeat;
      background-size: contain;

      padding-top: 0.5rem;
      font-size: 1.4rem;
      line-height: 1.4rem;
      // outline: 1px red solid;
  }

  .lunch-feature__item:hover {
      .lunch-feature__item-price {
          display: block;
      }
  }

  .lunch-feature__counter-container {
      position: relative;
      display: block;
      float: right;
      max-width: 9rem;
      padding: 0;
      margin: 0;

      .counter-btn {
          padding: 0.2rem 0.2rem;
          margin: 0;
          width: 2rem;
          box-shadow: none;
          font-size: 1.4rem;
          line-height: 1.6rem;

          &:hover {
              top: 0;
              box-shadow: none;
              background-color: $secondary;
          }
      }

      .counter-input {
          padding: 0.2rem 0.4rem;
          margin: 0;
          width: 3rem;
          box-shadow: none;
          font-size: 1.4rem;
          line-height: 1.4rem;
      }
  }

}
