.main-nav {
  width: 100%;
  // outline: 1px green solid;
}

.main-nav__top {
  padding: 0;
  padding-right: 1rem;
  margin: 0;
  background: $light-gray;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav__mobile {
  margin: 0;
  padding: 0;
  padding-bottom: 0.6rem;

  font-family: 'Bello Pro', Arial, sans-serif;
  font-size: 2.8rem;
  line-height: 2.4rem;
  font-weight: 700;
  position: relative;
  color: $accent;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1.9rem;
    height: 2rem;
    margin-left: -2.3rem;
    margin-top: 0.3rem;
    background-image: url("../images/phone-icon-sprite.svg");
    background-repeat: no-repeat;
    background-size: 1.7rem;
    background-position: bottom center;
  }
}

.main-nav__socials {
  padding: 0;
  // padding-top: 0.6rem;
  margin: 0;
  margin-left: 8rem;
  margin-right: 8rem;
  // outline: 1px green solid;
}

.main-nav__langs {
  padding: 0;
  margin: 0;

  @include list-normalize();
  display: flex;
  // outline: 1px green solid;
}

.main-nav__lang {
  // padding-top: 0.9rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 0.5rem;

  & > a {
    color: $dark-gray;
    text-decoration: none;

    &:hover {
      color: $accent;
    }
  }

  &--ru {

  }

  &--kz {
  }

}

.main-nav__list {
  @include list-normalize();
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2.4rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  // outline: 1px blue solid;
}

.main-nav__item {
  min-width: 12rem;
  padding: 0 2rem;
  text-align: center;
  // outline: 1px green solid;
  & > a {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: $dark-gray;
    text-decoration: none;

    &:hover {
      color: $accent;
    }

  }

}

.main-nav__toggle {
  display: none;
}




@media #{$mobile-width} {

  .main-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $beige;
    // outline: 1px green solid;
  }


  .main-nav__toggle {
    display: block;
    height: 4.8rem; 
    width: 4.8rem; 
    overflow: hidden;
    margin-top: 1.2rem;
    margin-right: 1rem;

    position: absolute;
    top: 1rem;
    right: 0;

    font-size: 0;

    border: 0;
    cursor: pointer;
    background: $beige;
    background-image: url('../images/icon-menu-open.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }

  .main-nav--opened .main-nav__toggle {
    background-image: url('../images/icon-menu-close.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }

  .main-nav--closed .main-nav__top,
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav__top {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    background: none;
    height: auto;
    width: 100%;
    display: block;
    @include container();
  }

  .main-nav__mobile {
    position: relative;
    text-align: center;
    @include container();
    width: 24rem;
    padding: 0;
    padding-bottom: 0.6rem;
    margin-bottom: 2rem;
    padding-left: 2rem;

    font-size: 3.6rem;
    line-height: 4.2rem;
    // outline: 1px red solid;


    &::before {
      width: 3rem;
      height: 3.2rem;
      margin-left: -2rem;
      margin-top: 1rem;
      background-size: 3rem;
    }
  }

  .main-nav__socials {
    padding: 0;
    // padding-top: 0.6rem;
    margin: 0;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 4rem;
    text-align: center;
    // outline: 1px green solid;
  }

  .main-nav__langs {
    width: 15rem;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 2rem;

    @include clearfix();

    display: block;
    // outline: 1px red solid;
  }

  .main-nav__lang {
    float: left;
    min-width: 2rem;
    text-align: center;
    // outline: 1px green solid;

    font-size: 3rem;
    line-height: 3rem;
    padding-left: 0.5rem;
  }

  .main-nav__list {
    min-height: 4rem;
    display: block;
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    // outline: 1px blue solid;
  }

  .main-nav__item {
    min-width: 12rem;
    padding: 0;
    padding-bottom: 3rem;
    text-align: center;
    // outline: 1px green solid;

    & > a {
      font-size: 2.1rem;
      line-height: 2.1rem;
    }

  }


}