.modal {
  display: none;
}

.close-btn {
    display: block;
    position: absolute;
    top: -3rem;
    right: 4.6rem;
    background-image: url(../images/icon-menu-close.svg);
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
}

.modal__wrapper {
  position: relative;
  width: 80rem;
  padding: 1rem 5rem;
  margin: 5% auto;

  text-align: center;
  // outline: 1px green solid;

  &--order-success {
    width: 62rem;
  }

}

.modal__title {
  margin: 0;
  padding: 1.5rem;
  padding-top: 2.5rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: $beige;
  background-color: $accent-dark;
  clip-path: polygon(80rem 0, 0rem 2rem, 0rem 20rem, 80rem 20rem);

  &--msg-sent,
  &--corporat-sent {
    padding: 3rem 0;
  }

  &--order-success {
    @include container();
    text-align: center;
    width: 33rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    clip-path: polygon(35rem 0, 2rem 0.5rem, 0rem 8rem, 36rem 10rem);
    // outline: 1px green solid;
  }

}

.modal__form {
  margin: 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: $accent;
  // outline: 1px green solid;
}

.modal__field-text {
  width: 23rem;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: $dark-gray;

  &:focus {
    outline: none;
  }

}

.modal__field-select {
  width: 25rem;
  height: 3.6rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  // border: 1px green solid;

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: $dark-gray;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/select_arrow_down.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 1.5rem;
  border-radius: 0;
  outline: none;
  &:focus {
    outline: none;
  }

}


.modal__field-option {

  &--disabled[selected] {
    color: red;
  }
}



.modal__btn-container {
  margin-top: 2rem;
  margin-bottom: 1rem;

}

.modal__btn {
  @include container();
  width: 20rem;
  background: $beige;
  color: $accent;

  &--order-success {
    background: $accent;
    color: $beige;
  }

  &--bonappetit {
    background: white;
    color: $bon-olive;
    border-radius: 0.5rem;
    box-shadow:  0 0.4rem 0 0 darken($bon-olive, 20%);

    &:hover {
      box-shadow:  0 0.2rem 0 0 darken($bon-olive, 20%);
    }
  }

}

.modal__body {
  margin: 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: $accent;

  &--order-success {
    padding: 5rem;
    margin-top: -1rem;
    background-color: $beige;
    clip-path: polygon(70.5rem 1rem, 0rem 0rem, 2rem 50rem, 80rem 50rem);
  }
}

.modal__feedback {
  margin: 0;
  margin-bottom: 1rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: white;

  &:last-of-type {
    margin-bottom: 4rem;
  }

  &--order-success {
    color: $accent;
  }
}

.modal__footer {
  @include clearfix();
  margin: 0 auto;
  width: 54rem;
  padding: 0;
  // padding: 1.5rem;
  // padding-top: 2.5rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: $beige;
  background-color: $bon-olive;
  overflow: hidden;
  clip-path: polygon(52.5rem 0, 1rem 0rem, 0rem 19rem, 54rem 20rem);


  &--bonappetit {
  }
}

.modal__footer-left {
  float: left;
  // outline: 1px blue solid;
  padding: 2rem 3rem;

    & > img {
      // margin-top: 2rem;
      margin-bottom: 2rem;
      // outline: 1px red solid;
    }

}

.modal__footer-right {
  width: 23rem;
  height: 20rem;
  float: right;
  // outline: 1px blue solid;
  // margin-left: 1rem;

}





@media #{$mobile-width} {

  .modal {
  }

  .close-btn {
    top: -1rem;
    right: 0.6rem;
  }

  .modal__wrapper {
    position: relative;
    width: 30rem;
    padding: 1rem 1rem;
    margin: 10% auto;
  }

  .modal__title {

    &--order-success {
      padding: 2.5rem 5rem;
      width: 32rem;
      clip-path: initial;
      position: relative;
      left: 50%;
      margin-left: -21rem;
      // outline: 1px green solid;
    }

  }

  .modal__body {

    &--order-success {
      width: 32rem;
      padding: 2rem 5rem;
      position: relative;
      left: 50%;
      margin-left: -21rem;
      background-color: $beige;
      clip-path: initial;
    }
  }

  .modal__footer {
    width: 32rem;
    height: 49rem;
    padding: 0 5rem;
    position: relative;
    left: 50%;
    margin-left: -21rem;

    font-size: 2.1rem;
    line-height: 2.4rem;

    overflow: hidden;
    clip-path: initial;


    &--bonappetit {
    }
  }

  .modal__footer-left {
    float: initial;
    // outline: 1px blue solid;
    padding: 2rem 0;

      & > img {
        // margin-top: 2rem;
        margin-bottom: 2rem;
        // outline: 1px red solid;
      }

  }

  .modal__footer-right {
    width: 100%;
    float: initial;
    // outline: 1px blue solid;
    // margin-left: 1rem;

  }



}
