@import "../variables.scss";
@import "../mixins.scss";
@import "../scaffolding.scss";

.has-error>input,
.has-error>textarea,
.has-error>select,
.has-error.contacts__field-select__wrapper {
    border: 1px solid $accent-dark !important;
}
.order-block {
    background: rgb(207,208,208);
    background: -moz-linear-gradient(top, rgba(207,208,208,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(207,208,208,1) 100%);
    background: -webkit-linear-gradient(top, rgba(207,208,208,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 65%,rgba(207,208,208,1) 100%);
    background: linear-gradient(to bottom, rgba(207,208,208,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 65%,rgba(207,208,208,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd0d0', endColorstr='#cfd0d0',GradientType=0 );
    padding-bottom: 2rem;
}

.order-block_empty {
    height: 80vh;
}

.order-block__wrapper {
  @include container();
  position: relative;
  width: 120rem;
  height: auto;
  text-align: center;
  overflow: hidden;
  padding: 5rem 3rem 3rem 3rem;
}

.order-block__centred {
    .order-block__wrapper {
        width: 60rem;
    }
}

.order-block__tag {
  width: 41.5rem;
  position: absolute;
  top: 27rem;
  left: 9rem;

  background-image: url("../images/hero-block-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  // outline: 1px red solid;
}

.order-block__logo {
  width: 17rem;
  height: 7.7rem;
  position: absolute;
  top: 0.7rem;
  left: -1.7rem;
}

.order-block__title {
  margin: 0;
  margin-top: 1.3rem;
  margin-left: 15.5rem;
  width: 23rem;

  font-family: 'Bello Pro', sans-serif;
  font-size: 3.2rem;
  line-height: 2.8rem;
  color: $accent;
  // outline: 1px red solid;
}

.order-block__text {
  width: 31rem;
  margin-top: 1.5rem;
  margin-left: 5rem;
  margin-bottom: 1.5rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: $dark-gray;
  // outline: 1px red solid;
}

.order-block__btn {
  margin: 0;
  margin-left: 8rem;
  width: 18rem;
}

.order-block__menu {
    &.lunch-menu {
        position: relative;
        float: left;
        top: auto;
        right: auto;
        height: 57rem;
        margin-right: 5rem;
        background-image: url("../images/lunch-menu-bg-3.svg");

        .lunch-menu__list {
            height: 19.6rem;
        }
    }
}


.order-block__feature-wrapper {
  @include clearfix();
  // outline: 1px red solid;
  // column-count: 2;
}

.order-total {
  @include container();
  position: relative;
  padding: 4rem 0;

}

.order-total__wrapper {
    position: relative;
    display: block;
    width: 90rem;
    height: 55rem;
    padding: 0;
    margin: 0 auto;
    background-image: url("../images/order-total-bg.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    z-index: 2;
}

.order-total-confirm {

    .order-total__wrapper {
        background-image: url("../images/order-total-bg-2.png");
    }

    .order-total__header {
        padding-top: 2.2rem;
    }

    .order-total__body_back {
        position: absolute;
        color: $accent-dark;
        left: -5rem;
        top: -10rem;
        text-decoration: none;
    }

    .order-total__body {
        height: 23rem;
        width: 80rem;
        margin: 0 auto;
        padding-top: 2.2rem;
    }

    .order-total__body_title {
        margin: 0 0 1rem 0;
        padding: 0;
        font-family: 'Roboto Condensed', Arial, sans-serif;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 2.6rem;
        color: white;
    }

    .order-total__payments__wrapper {
        display: block;
    }

    .order-total__payments {
        position: relative;
        display: block;
        padding: 0;
        margin: 0;
        clear: both;
        list-style: none;
    }

    .order-total__payments_item {
        position: relative;
        display: block;
        float: left;
        width: 50%;
        padding: 0;
        margin: 0;
        text-align: center;

        a {
            position: relative;
            display: block;
            width: 70%;
            margin: 0 auto;
            padding: 1.5rem 1rem;
            text-align: center;
            text-decoration: none;
            &:hover {
                background: $accent-dark;
            }
        }

        img {
            display: inline-block;
            padding-bottom: 1rem;
        }

        span {
            display: block;
            font-family: 'Roboto Condensed', Arial, sans-serif;
            font-weight: 200;
            font-size: 2.0rem;
            line-height: 2.4rem;
            color: white;
        }
    }

    .order-total__footer {
        position: relative;
        @include container();
        width: 65rem;
        height: auto;
        margin: 0 auto;
        padding-top: 1.5rem;
        // display: flex;
        // align-items: top;
        // text-align: left;
    }

    .order-total__footer_back {
        font-family: 'Roboto Condensed', Arial, sans-serif;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 2.6rem;
        color: $accent;
        text-decoration: underline;
        &:hover, &:active {
            color: $secondary;
            text-decoration: underline;
        }
    }

    .order-total__footer_note {
        // color: $dark-gray;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .order-total__form {
        display: block;
        .form-group {
            display: block;
            float: left;
            width: 30%;
            margin-right: 2rem;
            margin-bottom: 3rem;
            input, select, textarea {
                width: 100%;
                float: left;
                clear: both;
                margin: 0;
                padding: 0;
                text-indent: 1rem;
            }
        }
        .contacts__field-select__wrapper {
            margin-top: .5rem;
        }
        .form-placeholder {
            display: block;
            float: left;
            width: 20%;
            height: 3rem;
        }

        // .twitter-typeahead {
        //     display: block;
        //     float: left;
        //     width: 100%;
        // }

        .autocomplete-suggestions {
            margin-top: 32px;
            background: $beige;
            width: 100%;
            padding:0;
            color: $accent;
            font-family: 'Roboto Condensed', Arial, sans-serif;
            font-weight: 400;
            font-size: 2.0rem;
            line-height: 2.8rem;
            text-align: left;
            max-height: 15rem;
            overflow-y: auto;
        }

        .autocomplete-suggestion {
            padding: 1rem 1.5rem;
        }

        .autocomplete-suggestion:hover,
        .autocomplete-selected {
            background: $dark-beige;
        }
    }

    .order-total__payments {}

    .order-total__payments_items {}
}

.order-total__header{
    display: block;
    position: relative;
    padding: 3.8rem 0 0 0;
    height: 6.4rem;
    text-align: center;
}

.order-total__header_title {
    display: inline-block;
    margin-right: 2rem;
    color: $beige;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 2.8rem;
}

.order-total__header_price {
    display: inline-block;
    color: $beige;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 4.6rem;
}

.order-total__body {
    display: block;
    position: relative;
    padding: 3.8rem 0 0 0;
    height: 20rem;
    text-align: center;

    & > img {
      width: 15.8rem;
    }
}

.order-total__body_note {
    margin: 0.8rem 0 0 0;
    color: $beige;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.order-total__body>.order-total__body_img {
    margin-top: 2rem;
    width: 18rem;
}

.order-total__footer {
    display: block;
    position: relative;
    height: 14rem;
    padding: 3.8rem 0 0 0;
    text-align: center;
}

.order-total__footer_note {
    margin: 0.6rem 0 1rem;
    color: white;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.8rem;
}

.order-total__footer_form {
    display: block;
    margin-top: 1rem;
    padding: 1rem 0;

    .form-group {
        position: relative;
        width: 415px;
        margin: 0 auto;
    }

    input {
        display: inline-block;
        width: 25rem;
        font-size: 2.0rem;
        outline: none;
    }

    // .twitter-typeahead {
    //     top: -1.3rem;
    // }

    .autocomplete-suggestions {
        background: $accent;
        width: 100%;
        padding:0;
        margin-top: -10px;
        color: white;
        font-family: 'Roboto Condensed', Arial, sans-serif;
        font-weight: 400;
        font-size: 2.0rem;
        line-height: 2.8rem;
        text-align: left;
        max-height: 15rem;
        overflow-y: auto;
    }

    .autocomplete-suggestion {
        padding: 1rem 1.5rem;
    }

    .autocomplete-suggestion:hover,
    .autocomplete-selected {
        background: $accent-dark;
    }
}


.order-total__btn {
    display: inline-block;
    margin-left: 1rem;
    background: $beige;
    color: $accent;
    box-shadow:  0 0.6rem 0 0 $accent;
}

.order-total__btn_cancel {
    display: inline-block;
}

.order-total__fixed {
    position: fixed;
    width: 100%;
    // height: 5rem;
    padding: 1rem 0;
    bottom: 0;
    background: $accent;
    color: $beige;
    text-align: center;
    z-index: 10;
}

// .order-total__socials-wrapper {
//   position: relative;
//   @include container();
//   margin-top: -2rem;
//   z-index: 1;
//   width: 60rem;
//   padding: 3rem 5rem;
//   background: $beige;
//   display: flex;
//   align-items: top;
// }
//
.order-total__socials {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
    padding-left: 2rem;
    width: 20%;
}
.order-total__socials-note {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 2rem;
    width: 70%;
    font-size: 18px;
    text-align: left;
    line-height: 22px;
}
.order-total__socials-btn {
    display: block;
    float: right;
    width: 10rem;
    margin-top: -0.5rem;
    padding: 1rem 1.2rem;
}

.order-total__days-btn {
  @include container();
  width: 26rem;
  margin-top: -2rem;
}


@media #{$mobile-width} {

  .order-block__wrapper {
    width: 30rem;
    padding: 4rem 1rem 0 1rem;
  }
  .order-block__centred {
      .order-block__wrapper {
          width: 30rem;
      }
  }
  .order-block {
    padding-bottom: 6rem;
  }
  .order-block__menu {

      &.lunch-menu {
          position: relative;
          @include container();
          margin-bottom: 2rem;
          padding-bottom: 2rem;
          float: none;
          height: auto;
          background-image: url("../images/lunch-menu-bg-3.svg");
          background-size: cover;
          // outline: 1px red solid;
      }

      & > .lunch-menu__list > .lunch-menu__item--optional {
        margin-right: 0.4rem;
        // margin-left: 1.5rem;
      }
  }


  .order-block__feature-wrapper {
    column-count: auto;
    // outline: 1px green solid;
  }

  .order-total {
    @include container();
    position: relative;
    padding: 0 0 0 0;
    // outline: 1px green solid;
  }

  .order-total__wrapper {
      position: relative;
      width: 100%;
      height: auto;
      padding: 0;
      // padding: 0rem 10rem;
    //   left: 50%;
    //   margin-left: -25rem;
      // background-image: url("../images/order-total-bg-mob.svg");

    // outline: 1px green solid;
  }

  .order-total__header {
      display: block;
      position: initial;
      padding: 1.2rem 0 1.2rem 0;
      height: auto;
      text-align: center;
      background: $accent-dark;
      // outline: 1px blue solid;
  }

  .order-total__header_title {
      @include container();
      width: 30rem;
      display: block;
      font-size: 2.1rem;
      line-height: 2.4rem;
      vertical-align: top;
  }

  .order-total__header_price {
      display: block;
      @include container();
      width: 30rem;
      font-size: 3.2rem;
      line-height: 3.4rem;
      vertical-align: top;
      // outline: 1px blue solid;
  }

  .order-total__body {
      display: block;
      position: initial;
      padding: 1.5rem 0 1.5rem 0;
      height: auto;
      text-align: center;
      background: $accent;
      // outline: 1px green solid;
  }

  .order-total__body_note {
      @include container();
      width: 30rem;
      margin-top: 0.8rem;
      color: $beige;
      font-family: 'Roboto Condensed', Arial, sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.2rem;
  }

  .order-total__footer {
      display: block;
      position: relative;
      height: auto;
      padding: 3.8rem 0 1.5rem 0;
      text-align: center;
      background: $accent-dark;
  }

  .order-total__footer_note {
      @include container();
      width: 30rem;
      margin-top: 0.8rem;
      color: white;
      font-family: 'Roboto Condensed', Arial, sans-serif;
      font-weight: 400;
      font-size: 2.0rem;
      line-height: 2.8rem;
  }

  .order-total__footer_form {
      display: block;
      @include container();
      width: 30rem;
      margin-top: 1rem;
      padding: 1rem 0;

      input {
          display: inline-block;
          width: 100%;
          outline: none;
          box-sizing: border-box;
      }

      .form-group {
          width: 100%;
      }

      .autocomplete-suggestions {
        top: 61px;
      }
  }

  .order-total__btn {
      margin-left: 1rem;
      display: inline-block;
      background: $beige;
      color: $accent;
      box-shadow:  0 0.6rem 0 0 $accent;
  }

  .order-total__days-btn {
    margin-top: -6rem;
    margin-bottom: 1.8rem;

    &:hover {
        margin-bottom: 1.8rem;
    }
  }

  .order-total__fixed {
      position: fixed;
      width: 100%;
      // height: 5rem;
      padding: 1rem 0;
      bottom: 0;
      background: $accent;
      color: $beige;
      text-align: center;
      z-index: 2
  }

  .order-total__fixed_wrapper {
    text-decoration: none;
    color: $beige;
  }



  // 28-10-2017
  .order-total-confirm {

      .order-total__wrapper {
          background: none;
      }

      .order-total__header {
          padding-top: 2.2rem;
      }

      .order-total__body {
          height: auto;
          width: auto;
          margin: 0 auto;
          padding-top: 2.2rem;
      }

      .order-total__body_title {
          margin: 0 0 1rem 0;
          padding: 0;
          font-family: 'Roboto Condensed', Arial, sans-serif;
          font-weight: 400;
          font-size: 2.4rem;
          line-height: 2.6rem;
          color: white;
      }

      .order-total__body_back {
          position: relative;
          color: white;
          margin-bottom: 1rem;
          top: -1rem;
          left: auto;
      }

      .order-total__payments {
          position: relative;
          display: block;
          padding: 0;
          margin: 0;
          clear: both;
          list-style: none;
      }

      .order-total__payments_item {
          position: relative;
          display: block;
          float: initial;
          width: 100%;
          padding: 0;
          margin: 0;
          text-align: center;

          a {
              position: relative;
              display: block;
              width: 70%;
              margin: 0 auto;
              padding: 1.5rem 1rem;
              text-align: center;
              text-decoration: none;
              &:hover {
                  background: $accent-dark;
              }
          }

          img {
              display: inline-block;
              padding-bottom: 1rem;
          }

          span {
              display: block;
              font-family: 'Roboto Condensed', Arial, sans-serif;
              font-weight: 200;
              font-size: 2.0rem;
              line-height: 2.4rem;
              color: white;
          }
      }

      .order-total__footer {
          width: auto;
          height: auto;
          margin: 0 auto;
          padding: 2rem 6.5rem;
          text-align: center;
      }

      .order-total__footer_back {
          font-family: 'Roboto Condensed', Arial, sans-serif;
          font-weight: 400;
          font-size: 2.4rem;
          line-height: 2.6rem;
          color: $beige;
          text-decoration: underline;
          &:hover, &:active {
              color: white;
              text-decoration: underline;
          }
      }

      .order-total__footer_note {
        //   color: $dark-gray;
          padding: 0;
          margin: 0;
          text-align: left;
      }

      .order-total__form {
          @include container();
          width: 30rem;

          .form-group {
              display: block;
              float: initial;
              width: 100%;
              margin-right: 0;
              margin-bottom: 3rem;
              input, select, textarea {
                  width: 100%;
                  float: initial;
                  height: 3.6rem;
                  clear: both;
                  margin: 0;
                  padding: 0;
                  text-indent: 1rem;
              }
          }
          .contacts__field-select__wrapper {
              margin-bottom: 2rem;
          }
          .form-placeholder {
              display: none;
          }

          .autocomplete-suggestions {
              margin-top: 0;
          }
      }

      .order-form__btn {margin-top: 3rem}

      .order-total__payments {}

      .order-total__payments_items {}
  }


  // .order-total__socials-wrapper {
  //   margin-top: 0;
  //   width: 30rem;
  //   padding: 2rem 10rem;
  //   // padding: 2rem 10rem;
  //   background: $beige;
  //   display: block;
  //   left: 50%;
  //   margin-left: -25rem;
  //   text-align: center;
  // }
  //
  // .order-total__socials {
  //   // outline: 1px blue solid;
  //   @include container();
  //   width: 10rem;
  //   padding: 0;
  //   margin-bottom: 1rem;
  //   // height: 3rem;
  //   // margin-right: 2rem;
  // }
  //
  .order-total__socials {
      display: block;
      float: none;
      padding: 0;
      margin: 0 auto 1rem;
      width: 90%;
  }

  .order-total__socials-note {
    display: block;
    float: none;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $beige;
    text-align: center;
    // outline: 1px green solid;
  }
  .order-total__socials-btn {
      display: inline-block;
      float: none;
      margin-top: 1rem;
      display: inline-block;
      background: $beige;
      color: $accent;
      box-shadow:  0 0.6rem 0 0 $accent;
  }
}
