.page-footer {
  background-color: $dark-gray;
  margin: 0;
  padding: 0;
  padding-bottom: 2.5rem;
  padding-top: 2.1rem;
}

.page-footer__wrapper {
  @include container();
  width: 104rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.page-footer__contacts {
  margin-left: 2.5rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: white;
  // outline: 1px green solid;

  & > p {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
  }
}

.page-footer__phone {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: -2.5rem;
    background-image: url("../images/phone-icon-sprite.svg");
    background-repeat: no-repeat;
    background-size: 1.7rem;
    background-position: center center;
  }
}

.page-footer__mail {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    margin-left: -2.8rem;
    background-image: url("../images/mail-icon-sprite.svg");
    background-repeat: no-repeat;
    background-size: 2.2rem;
    background-position: center center;
  }
}

.page-footer__address {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 2.1rem;
    height: 2rem;
    margin-left: -2.6rem;
    background-image: url("../images/place-icon.svg");
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-position: center center;
  }
}

.page-footer__socials {
  // outline: 1px green solid;
  margin: 0;
}

.page-footer__nav {
  @include list-normalize();
  display: flex;
  // outline: 1px green solid;
}

.page-footer__nav-item {
  margin-left: 2rem;
  & > a {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: white;
    text-decoration: none;

    &:hover {
      color: $beige;
    }
  }

}

.page-footer__copyright {
  position: absolute;
  right: 0;
  bottom: 0;

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: $footer-icons-gray;
}




@media #{$mobile-width} {

  .page-footer {
    margin: 0;
    padding: 0;
    padding-bottom: 2.5rem;
    padding-top: 2.1rem;
  }

  .page-footer__wrapper {
    width: 30rem;
    display: block;
  }

  .page-footer__contacts {
    margin-left: 4.5rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: white;

    & > p {
      margin: 0;
      margin-bottom: 1.5rem;
      padding: 0;
    }
  }

  .page-footer__phone {

    &::before {
      width: 2.8rem;
      height: 2.8rem;
      margin-left: -4rem;
      background-size: 2.6rem;
    }
  }

  .page-footer__mail {

    &::before {
      width: 3.5rem;
      height: 3.5rem;
      margin-left: -4.5rem;
      margin-top: -0.3rem;
      background-size: 3.5rem;
    }
  }

  .page-footer__address {

    &::before {
      width:  3.6rem;
      height: 3.8rem;
      margin-left: -4rem;
      margin-top: -0.5rem;
      background-size: 2rem;
    }
  }

  .page-footer__socials {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
  }

  .page-footer__nav {
    display: none;
  }

  .page-footer__copyright {
    position: initial;
    margin-left: 4rem;

    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $footer-icons-gray;
  }

}