.page-header {

}

.page-header__wrapper {
  @include container();
  display: flex;
  justify-content: space-between;
}

.page-header__mamas-logo {
  background-color: $beige;
  width: 34rem;
  margin: 0;
  padding: 1.5rem;

  & > a > img {
    width: 100%;
    // height: 6.8rem;
  }
}

.page-header__bon-appetit-logo {
  background-color: $bon-olive;
  width: 25rem;
  margin: 0;
  padding: 1.5rem;
  text-align: center;

  & > a > img {
    width: 14.6rem;
    height: 7.9rem;
  }

}




@media #{$mobile-width} {

  .page-header {

  }

  .page-header__wrapper {
    @include container();
    background: $beige;
    position: relative;
    padding: 1rem 0;
    display: block;
  }

  .page-header__mamas-logo {
    // outline: 1px red solid;
    background-color: $beige;
    width: 20rem;
    margin: 0;
    padding: 0;
    padding-left: 1rem;

    & > a > img {
      width: 20rem;
      height: 6.8rem;
    }

  }

  .page-header__bon-appetit-logo {
    display: none;

    &--mob {
      display: block;
      width: 100%;
      padding: 1.5rem 0;
      text-align: center;
    }
  }

}
