.socials {
  // display: flex;
  text-align: center;
}

.socials__social-icon {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 0;
  background-image: url("../images/fb-icon-sprite.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1.6rem 6.4rem;
  float: left;

  &--insta {
    background-image: url("../images/insta-icon-sprite.svg");
    margin-left: 1.5rem;
  }

  &--vk {
    background-image: url("../images/vk-icon-sprite.svg");
    margin-left: 1.5rem;
  }

  &:hover {
    cursor: pointer;
    background-position: 0 -1.6rem;
    border: none;
    outline: none;
  }

  &--insta-footer {
    background-position: 0 -4.8rem;
    border: none;
    outline: none;

    &:hover {
      background-position: 0 -3.2rem;
    }
  }

  &--vk-footer {
    background-position: 0 -4.8rem;
    border: none;
    outline: none;

    &:hover {
      background-position: 0 -3.2rem;
    }
  }

 &--fb-footer {
    background-position: 0 -4.8rem;
    border: none;
    outline: none;

    &:hover {
      background-position: 0 -3.2rem;
    }
  }


  &--order {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    background-size: 2.8rem 11.2rem;
    float: right;

    &:hover {
      cursor: pointer;
      background-position: 0 -2.8rem;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

}




@media #{$mobile-width} {

  .order-total__socials {
    width: 11.5rem;
    display: flex;
    margin: 0 auto;
    padding: 0;
    // outline: 1px red solid;
    margin-bottom: 2rem;
  }

  .socials__social-icon {
    display: inline-block;
    float: none;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0;
    // background-color: red;
    background-size: 4rem 16rem;
    &--order {
        background-position: bottom center;
    }
  }

  .order-total__socials-note {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
  }


}
