.team {
  // outline: 1px green solid;
}

.team__wrapper {
  @include container();
  width: 104rem;
  @include clearfix();
  // padding-top: 4rem;
  // outline: 1px green solid;
  position: relative;
  // overflow: hidden;
}

.team__title {
  margin-top: 6rem;
}

.team__text {
  padding-bottom: 1rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: $dark-gray;

  &--01 {
    padding-right: 55rem;
  }

  &--bold {
    font-weight: 700;
  }
}

.team__img {
  // outline: 1px green solid;

  &--right {
    position: absolute;
    right: -6rem;
    top: -5rem;
    width: 54.2rem;
    height: 43.7rem;
  }

  &--left {
    width: 43rem;
    height: 28.2rem;
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}

.team__chief {
  position: relative;
  // outline: 1px blue solid;
  // margin-top: -15rem;
  overflow: hidden;
}

.team__chief-line {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  min-height: 18rem;
  background-color: $beige;
}

.team__chief-photo {
  width: 23.8rem;
  height: 21.6rem;
  margin-right: 2rem;
  float: left;
}

.team__name {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: $accent;
}

.team__descr {
  width: 60rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: $dark-gray;
}

.team__other-peoples {

}

.team__other-chiefs {
  display: flex;

}

.team__other-chief {
  width: 30%;
  margin-right: 1rem;
  margin-left: 1.5rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: $dark-gray;

  &::before {
    display: block;
    position: absolute;
    margin-left: -1.5rem;
    margin-top: 0.6rem;
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    transform: rotate(45deg);
    background-color: $accent;
  }

  & > span {
    color: $accent;
  }
}

.team__large-image {
  width: 120rem;
  height: 42rem;
  margin: 0 auto;
  font-size: 0;
  overflow: hidden;

  & > img {
    margin-top: -12rem;
    width: 120rem;
    // height: 38.2rem;
  }
}





@media #{$mobile-width} {

  .team {
    // outline: 1px green solid;
  }

  .team__wrapper {
    width: 30rem;
    // outline: 1px green solid;
  }

  .team__title {
    margin-top: 3rem;
  }

  .team__text {
    padding-bottom: 1rem;

    font-size: 2.1rem;
    line-height: 2.4rem;

    &--01 {
      padding-right: 0;
    }

  }

  .team__img {
    // outline: 1px green solid;

    &--right {
      display: none;
    }

    &--left {
      width: 100%;
      height: auto;
      float: left;
      margin-right: 2rem;
      margin-bottom: 2rem;
    }
  }

  .team__chief {
    position: relative;

    // outline: 1px blue solid;
    // margin-top: -15rem;

  }

  .team__chief-line {
    display: none;
  }

  .team__chief-photo {
    width: 28rem;
    height: auto;
    float: none;
    @include container();
  }

  .team__name {

    font-size: 2.4rem;
    line-height: 2.7rem;
  }

  .team__descr {
    position: relative;
    width: 30rem;
    margin: 0 -10rem;
    padding: 2rem 10rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    background-color: $beige;
  }

  .team__other-peoples {

  }

  .team__other-chiefs {
    display: block;

  }

  .team__other-chief {
    width: 100%;
    margin-right: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;

    font-size: 1.8rem;
    line-height: 2.1rem;

  }

  .team__large-image {
    width: 100%;
    height: 15rem;

    & > img {
      margin-top: -3.5rem;
      width: 100%;
    }
  }


}
