.title {
  margin: 0;
  font-family: 'Bello Pro', sans-serif;
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: $accent;
}


@media #{$mobile-width} {
  .title {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}