.top-block {
  position: relative;
}

.top-block__img {
  width: 100%;
  height: 65rem;
  position: relative;
  overflow: hidden;
  
  & > img {
    min-width: 90rem;
  }
}

.top-block__tag {
  position: absolute;
  padding: 2rem 1rem;
  top: 38rem;
  right: 7%;

  background-image: url("../images/hero-block-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  // outline: 1px red solid;

  &--homemade {
    top: 30%;
    right: initial;
    left: 7%;
    background-image: url("../images/hero-block-bg2.svg");
    // background-size: contain;
  }
}

.top-block__logo {
  width: 17rem;
  height: 7.7rem;
  position: absolute;
  top: 0.7rem;
  left: -1.7rem;
}

.top-block__title {
  margin: 0;
  margin-top: 1.3rem;
  margin-left: 15.5rem;
  width: 23rem;

  font-family: 'Bello Pro', sans-serif;
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: $accent;

  &--homemade {
    margin-top: 4rem;
    margin-left: 0;
    width: 45rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.top-block__text {
  width: 31rem;
  margin-top: 2.5rem;
  margin-left: 5rem;
  margin-bottom: 1.5rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: $dark-gray;
  // outline: 1px red solid;

  &--homemade {
    width: 52rem;
    padding-right: 2rem;
  }
}



@media #{$mobile-width} {

  .top-block {

  }

  .top-block__img {
    width: 100%;
    height: 40rem;
    
    & > img {
      min-width: 65rem;
    }

    &--homemade {
      height: 24rem;

      & > img {
        min-width: 24rem;
      }
    }

  }

  .top-block__tag {
    position: absolute;
    width: 38rem;
    padding: 2rem 1rem;
    top: initial;
    right: initial;
    bottom: 0;
    left: 50%;
    margin-left: -19rem;
    // outline: 1px green solid;


    &--homemade {
      position: relative;
      min-height: 30rem;
      top: initial;
      right: initial;
      left: 50%;
      margin-left: -20rem;
      margin-top: -2rem;
      // bottom: 0;
    }
  }

  .top-block__logo {
    width: 12rem;
    height: 5rem;
    position: absolute;
    top: 0.7rem;
    left: 4rem;
  }

  .top-block__title {
    margin: 0;
    margin-top: 0rem;
    margin-left: 15.5rem;
    width: 18rem;

    font-size: 2.7rem;
    line-height: 3rem;

    // outline: 1px blue solid;

    &--homemade {
      margin: 0 auto;
      width: 28rem;
      padding-top: 1rem;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .top-block__text {
    width: 28rem;
    margin-top: 2.5rem;
    margin-left: 5rem;
    margin-bottom: 1.5rem;

    // outline: 1px red solid;

    &--homemade {
      width: 28rem;
      padding-right: 0;
    }
  }

}