@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container() {
  width: 100%;
  margin: 0 auto;
}


@mixin list-normalize() {
  margin: 0;
  padding: 0;
  list-style: none;
}

// @media #{$tablet-width} {
  // width: 980px;
  // outline: 1px blue solid;
// }

// @media #{$mobile-width} {
  // width: 300px;
  // outline: 1px blue solid;
// }
