@font-face {
  font-family: 'Bello Pro';
  src: url('../fonts/Bello-Pro.eot');
  src: url('../fonts/Bello-Pro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Bello-Pro.woff2') format('woff2'),
    url('../fonts/Bello-Pro.woff') format('woff'),
    url('../fonts/Bello-Pro.ttf') format('truetype'),
    url('../fonts/Bello-Pro.svg#Bello-Pro') format('svg');
  font-weight: normal;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic,cyrillic-ext');


html {
  font-size: 62.5%; /* = 1rem = 10px */

  @media #{$tablet-width} {
    font-size: 50%;
  }

  @media #{$mobile-width} {
    font-size: 62.5%;
  }

}

body {
  font-size: 1.4rem; /* =14px */
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1   { font-size: 2.4rem; } /* =24px */

img {
  max-width: 100%;
  height: auto;
}

button,
button:active,
button:focus {
    outline: none;
}

.hidden {
    display: none !important;
}
