// backgrounds
$beige: #fccc97;
$dark-beige: #f9b97c;
$footer-bg: #565656;

// buttons, headers, links
$accent: #bc422a;
$secondary: #9b301b;
$accent-dark: #9c2d15;

// for texts
$dark-gray: #3d3d3c;
$light-gray: #efefef;
$footer-icons-gray: #878586;


// bon-appetite colors
$bon-olive: #5e8656;



$error-msg: #e30e00;






$mobile-width: "(max-width: 890px)";
$tablet-width: "(max-width: 1199px)";
